{
  "openapi": "3.1.0",
  "info": {
    "title": "carrier-api",
    "version": "api-1.0",
    "description": "API Портала Перевозчика",
    "contact": {
      "name": "Ivan Donchenko",
      "email": "idonchenko@solvo.ru",
      "url": "solvo.ru"
    },
    "license": {
      "name": "Commercial",
      "identifier": "commercial"
    }
  },
  "servers": [
    {
      "url": "https://stoplight.io/mocks/thehunt/carrier-apidoc/365085546",
      "description": "Stoplight mocker"
    },
    {
      "url": "http://localhost:8080"
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "summary": "OAuth token request",
        "description": "Requests an OAuth token",
        "requestBody": {
          "description": "OAuth token request",
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "enum": [
                      "authorization_code",
                      "refresh_token"
                    ]
                  },
                  "code": {
                    "type": "string",
                    "description": "Authorization code"
                  },
                  "redirect_uri": {
                    "type": "string",
                    "description": "Redirect URI"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Client ID"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Client secret"
                  }
                },
                "required": [
                  "grant_type",
                  "client_id",
                  "client_secret"
                ]
              },
              "example": {
                "grant_type": "authorization_code",
                "code": "4/P7q7W91a-oMsCeLvIaQm6bTrgtp7",
                "redirect_uri": "https://example.com/oauth2callback",
                "client_id": "ваш-client-id",
                "client_secret": "ваш-client-secret"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OAuth token response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "Access token"
                    },
                    "token_type": {
                      "type": "string",
                      "description": "Token type"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "Token expiration time"
                    },
                    "refresh_token": {
                      "type": "string",
                      "description": "Refresh token"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/oauth/revoke": {
      "post": {
        "summary": "OAuth token revocation",
        "description": "Revokes an OAuth token",
        "requestBody": {
          "description": "OAuth token revocation request",
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Token to revoke"
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token revoked"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/oauth/userinfo": {
      "get": {
        "summary": "OAuth userinfo",
        "description": "Retrieves userinfo for the authenticated user",
        "security": [
          {
            "oauth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "Userinfo response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sub": {
                      "type": "string",
                      "description": "User ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "User name"
                    },
                    "email": {
                      "type": "string",
                      "description": "User email"
                    }
                  }
                },
                "example": {
                  "sub": "1234567890",
                  "name": "Иван Петров",
                  "email": "ivan.petrov@example.com"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/shipment-rfp": {
      "get": {
        "summary": "Получить список заявок на перевозку",
        "responses": {
          "200": {
            "$ref": "#/components/responses/shipment-rfp-list"
          }
        }
      },
      "put": {
        "summary": "Создать новую заявку на перевозку",
        "responses": {
          "201": {
            "description": "Заявка на перевозку создана",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shipment-rfp-item"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/shipment-rfp-item"
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/shipment-rfp/{id}": {
      "get": {
        "summary": "Получить детали заявки на перевозку",
        "responses": {
          "200": {
            "description": "Детали заявки на перевозку",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shipment-rfp-item"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID заявки на перевозку",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      },
      "post": {
        "summary": "Обновить заявку на перевозку",
        "responses": {
          "200": {
            "description": "Заявка на перевозку обновлена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shipment-rfp-item"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID заявки на перевозку",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/shipment-rfp-item"
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ]
    },
    "/offers": {
      "get": {
        "summary": "Получить список предложений",
        "responses": {
          "200": {
            "$ref": "#/components/responses/offer-list"
          }
        }
      },
      "put": {
        "summary": "Создать новое предложение",
        "responses": {
          "201": {
            "description": "Предложение создано",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/offer-item"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/offer-item"
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/offers/{id}": {
      "get": {
        "summary": "Получить детали предложения",
        "responses": {
          "200": {
            "description": "Детали предложения",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/offer-item"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID предложения",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      },
      "post": {
        "summary": "Обновить предложение",
        "responses": {
          "200": {
            "description": "Предложение обновлено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/offer-item"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID предложения",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/offer-item"
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ]
    },
    "/catalogs": {
      "get": {
        "summary": "Получить перечень справочников системы",
        "tags": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/catalog-list"
          }
        },
        "operationId": "get-catalogs",
        "description": ""
      },
      "put": {
        "summary": "Создать новый справочник",
        "tags": [],
        "responses": {
          "201": {
            "$ref": "#/components/responses/catalog-metaitem"
          }
        },
        "operationId": "post-catalogs",
        "requestBody": {
          "$ref": "#/components/requestBodies/catalog-metaitem"
        }
      },
      "post": {
        "summary": "Изменить описание справочника",
        "tags": [],
        "responses": {
          "202": {
            "$ref": "#/components/responses/catalog-metaitem"
          }
        },
        "operationId": "put-catalogs",
        "requestBody": {
          "$ref": "#/components/requestBodies/catalog-metaitem"
        }
      }
    },
    "/catalogs/{key}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/key"
        }
      ],
      "get": {
        "summary": "Получить описание справочника",
        "tags": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/catalog-metaitem"
          }
        },
        "operationId": "get-catalogs-key"
      },
      "post": {
        "summary": "Изменить запись справочника",
        "tags": [],
        "responses": {
          "202": {
            "$ref": "#/components/responses/catalog-item"
          }
        },
        "operationId": "post-catalogs-key",
        "requestBody": {
          "$ref": "#/components/requestBodies/catalog-item"
        }
      },
      "put": {
        "summary": "Создать запись справочника",
        "tags": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/catalog-item"
          }
        },
        "operationId": "put-catalogs-key",
        "requestBody": {
          "$ref": "#/components/requestBodies/catalog-item"
        }
      }
    },
    "/catalogs/{key}/items/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "get": {
        "summary": "Получить запись справочника",
        "tags": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/catalog-item"
          }
        },
        "operationId": "get-catalogs-key-items-id"
      }
    },
    "/lists": {
      "get": {
        "summary": "Получить перечень списков",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "./models/abstract/simple-list.json"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-lists"
      }
    },
    "/lists/{key}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/key"
        }
      ],
      "get": {
        "summary": "Получить информацию о списке",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "./models/abstract/simple-list.json"
                }
              }
            }
          }
        },
        "operationId": "get-lists-key"
      }
    },
    "/lists/{key}/items": {
      "parameters": [
        {
          "$ref": "#/components/parameters/key"
        }
      ],
      "get": {
        "summary": "Получить элементы списка",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "./models/abstract/simple-list-item.json"
                      }
                    },
                    {
                      "type": "object",
                      "$ref": "./models/abstract/simple-list.json"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-lists-key-items"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://example.com/auth/realms/master/protocol/openid-connect/auth",
            "tokenUrl": "https://example.com/auth/realms/master/protocol/openid-connect/token",
            "refreshUrl": "",
            "scopes": {
              "userinfo": "userinfo"
            }
          }
        }
      }
    },
    "schemas": {
      "OAuthTokenRequest": {
        "type": "object",
        "properties": {
          "grant_type": {
            "type": "string",
            "enum": [
              "authorization_code",
              "refresh_token"
            ]
          },
          "code": {
            "type": "string",
            "description": "Authorization code"
          },
          "redirect_uri": {
            "type": "string",
            "description": "Redirect URI"
          },
          "client_id": {
            "type": "string",
            "description": "Client ID"
          },
          "client_secret": {
            "type": "string",
            "description": "Client secret"
          }
        },
        "required": [
          "grant_type",
          "client_id",
          "client_secret"
        ]
      },
      "shipment-rfp-data": {
        "title": "Заявка на перевозку",
        "description": "Объект системы, содержащий информацию о планируемом перемещении груза из одной точки в другую",
        "type": "object",
        "properties": {
          "num": {
            "type": "string",
            "description": "Идентификатор перевозки"
          },
          "customer": {
            "description": "Контрагент, являющийся заказчиком перевозки",
            "oneOf": [
              {
                "$ref": "models/props/link.json"
              },
              {
                "$ref": "#/components/schemas/contractor-item"
              }
            ],
            "type": "object"
          },
          "expectedVehicle": {
            "type": "array",
            "description": "Один или несколько типов ТС, которое должно выполнять перевозку ",
            "minItems": 1,
            "items": {
              "$ref": "models/abstract/simple-list-item.json"
            }
          },
          "validSince": {
            "type": "string",
            "format": "date-time",
            "description": "Дата начала периода, когда заявка на перевозку актуальна."
          },
          "validUntill": {
            "type": "string",
            "format": "date-time",
            "description": "Дата окончания периода, когда заявка на перевозку актуальна."
          },
          "targets": {
            "type": "array",
            "minItems": 1,
            "description": "Список мест, в которых будет производиться обработка",
            "items": {
              "oneOf": [
                {
                  "$ref": "models/props/link.json"
                },
                {
                  "$ref": "#/components/schemas/transport-target-item"
                }
              ],
              "type": "object"
            }
          },
          "attachments": {
            "type": "array",
            "description": "Файлы, загруженные в систему, и прикрепленные к перевозке.",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "source": {
            "$ref": "models/abstract/simple-list-item.json",
            "description": "Способ создания заявки на перевозку."
          }
        }
      },
      "shipment-rfp-item": {
        "title": "Запись \"Заявка на перевозку\"",
        "examples": [
          {
            "id": "string"
          }
        ],
        "allOf": [
          {
            "$ref": "models/abstract/domain-item.json"
          },
          {
            "properties": {
              "json-data": {
                "$ref": "#/components/schemas/shipment-rfp-data"
              }
            }
          }
        ],
        "type": "object",
        "x-examples": {
          "Example 1": {
            "id": "497f6eca-6276-4993-bfeb-53cbbbba6f08",
            "createdBy": {
              "ID": "3892eb50-4697-4c72-aadc-32b766bce3c0",
              "Login": "string"
            },
            "createdDate": "2019-08-24T14:15:22Z",
            "lastModifiedBy": {
              "ID": "3892eb50-4697-4c72-aadc-32b766bce3c0",
              "Login": "string"
            },
            "lastModifiedDate": "2019-08-24T14:15:22Z",
            "path": [
              {
                "host": "example.com",
                "id": "497f6eca-6276-4993-bfeb-53cbbbba6f08",
                "entity": "item"
              }
            ],
            "processInstant": "string",
            "meta": "00bc452f-5ac7-4ce3-9b71-a522f10fc914",
            "originalIdentity": {
              "id": "string",
              "host": "string",
              "route": "string",
              "protocol": "string"
            },
            "json-data": {}
          }
        },
        "description": "Строка таблицы БД",
        "example": {
          "id": "123e4567-e89b-12d3-a456-426614174000",
          "name": "Перевозка груза из Москвы в Санкт-Петербург",
          "status": "OPEN",
          "createdAt": "2023-05-15T10:30:00Z",
          "updatedAt": "2023-05-15T10:30:00Z",
          "expiresAt": "2023-05-20T23:59:59Z",
          "origin": {
            "address": "ул. Ленина, 1, Москва, Россия",
            "coordinates": {
              "latitude": 55.7558,
              "longitude": 37.6173
            }
          },
          "destination": {
            "address": "Невский проспект, 1, Санкт-Петербург, Россия",
            "coordinates": {
              "latitude": 59.9311,
              "longitude": 30.3609
            }
          },
          "cargo": {
            "type": "Общие грузы",
            "weight": 1000,
            "volume": 5
          },
          "additionalRequirements": "Требуется рефрижератор",
          "estimatedCost": {
            "amount": 50000,
            "currency": "RUB"
          }
        }
      },
      "offer-data": {
        "title": "Предложение к заявке на перевозку",
        "description": "Объект системы, которое хранит информацию по заявлению экспедитора о готовности выполнить перевозку по выбранной заявке на перевозку",
        "type": "object",
        "required": [
          "request",
          "forwarder",
          "carrier",
          "vehicle",
          "driver",
          "phone"
        ],
        "properties": {
          "request": {
            "description": "Идентификатор заявки на перевозку",
            "oneOf": [
              {
                "$ref": "models/props/link.json"
              },
              {
                "$ref": "#/components/schemas/shipment-rfp-item"
              }
            ],
            "type": "object"
          },
          "forwarder": {
            "oneOf": [
              {
                "$ref": "models/props/link.json"
              },
              {
                "$ref": "#/components/schemas/contractor-item"
              }
            ],
            "description": "Контрагент, который сделал предложение "
          },
          "carrier": {
            "oneOf": [
              {
                "$ref": "models/props/link.json"
              },
              {
                "$ref": "#/components/schemas/contractor-item"
              }
            ],
            "description": "Контрагент, выполняющий перевозку"
          },
          "vehicle": {
            "oneOf": [
              {
                "$ref": "models/props/link.json"
              },
              {
                "$ref": "#/components/schemas/vehicle-item"
              }
            ],
            "description": "Информация о транспортном средстве, на котором будет выполняться перевозка"
          },
          "driver": {
            "oneOf": [
              {
                "$ref": "models/props/link.json"
              },
              {
                "$ref": "#/components/schemas/driver-item"
              }
            ],
            "description": "Информация о водителе, который будут выполнять перевозку "
          },
          "phone": {
            "type": "string",
            "description": "Номер телефона для связи с водителем, актуальный на момент перевозки"
          },
          "attachment": {
            "type": "array",
            "description": "Файлы, загруженные в систему и прикреплённые к предложению.",
            "items": {
              "type": "string",
              "format": "uri-reference"
            }
          }
        }
      },
      "offer-item": {
        "title": "Запись \"Предложение к заявке на перевозку\"",
        "allOf": [
          {
            "$ref": "models/abstract/domain-item.json"
          },
          {
            "properties": {
              "json-data": {
                "$ref": "#/components/schemas/offer-data"
              }
            }
          }
        ],
        "type": "object",
        "x-examples": {},
        "description": "Строка таблицы БД",
        "example": {
          "id": "456e7890-f12a-34b5-c678-901234567890",
          "shipmentRfpId": "123e4567-e89b-12d3-a456-426614174000",
          "carrierId": "789e0123-g45h-67i8-j901-234567890123",
          "status": "PENDING",
          "createdAt": "2023-05-16T14:30:00Z",
          "updatedAt": "2023-05-16T14:30:00Z",
          "expiresAt": "2023-05-18T23:59:59Z",
          "price": {
            "amount": 48000,
            "currency": "RUB"
          },
          "estimatedPickupTime": "2023-05-21T09:00:00Z",
          "estimatedDeliveryTime": "2023-05-22T18:00:00Z",
          "additionalServices": [
            "Страхование груза",
            "Экспедирование"
          ],
          "notes": "Готовы предоставить рефрижератор для перевозки"
        }
      },
      "transport-target-item": {
        "title": "Цель перевозки",
        "description": "Объект системы, содержащий информацию о месте обработки перевозки",
        "allOf": [
          {
            "$ref": "models/abstract/rich-list-item.json"
          },
          {
            "type": "object",
            "properties": {
              "json-data": {
                "$ref": "#/components/schemas/transport-target-data"
              }
            }
          }
        ],
        "example": {
          "id": "tt-001",
          "name": "Перевозка груза из Москвы в Санкт-Петербург",
          "status": "ACTIVE",
          "createdAt": "2023-05-18T10:00:00Z",
          "updatedAt": "2023-05-18T10:00:00Z",
          "origin": {
            "address": "ул. Ленина, 1, Москва, Россия",
            "coordinates": {
              "latitude": 55.7558,
              "longitude": 37.6173
            }
          },
          "destination": {
            "address": "Невский проспект, 1, Санкт-Петербург, Россия",
            "coordinates": {
              "latitude": 59.9311,
              "longitude": 30.3609
            }
          },
          "estimatedDepartureTime": "2023-05-20T08:00:00Z",
          "estimatedArrivalTime": "2023-05-21T18:00:00Z"
        }
      },
      "transport-target-data": {
        "title": "Цель перевозки",
        "type": "object",
        "properties": {
          "num": {
            "type": "string",
            "description": "Идентификатор цели перевозки"
          },
          "route": {
            "enum": [
              "Ввоз",
              "Вывоз"
            ],
            "description": "Направление движение груза относительно предприятия, на котором работает организатор перевозки"
          },
          "sender": {
            "oneOf": [
              {
                "$ref": "models/props/link.json"
              },
              {
                "$ref": "#/components/schemas/contractor-item"
              }
            ],
            "description": "Название контрагента, который является отправителем груза. "
          },
          "loadLocation": {
            "oneOf": [
              {
                "$ref": "models/props/link.json"
              },
              {
                "$ref": "#/components/schemas/location-item"
              }
            ],
            "description": "Локация, в которой будет производиться погрузка груза на транспортное средство"
          },
          "loadAddress": {
            "type": "string",
            "description": "Адрес локации погрузки груза на транспортное средство"
          },
          "loadArrival": {
            "type": "string",
            "format": "date-time",
            "description": "Плановое время прибытия ТС в локацию погрузки."
          },
          "recipient": {
            "oneOf": [
              {
                "$ref": "models/props/link.json"
              },
              {
                "$ref": "#/components/schemas/contractor-item"
              }
            ],
            "description": "Название контрагента, который является получателем груза."
          },
          "unloadLocation": {
            "oneOf": [
              {
                "$ref": "models/props/link.json"
              },
              {
                "$ref": "#/components/schemas/location-item"
              }
            ],
            "description": "Локация, в которой будет производиться выгрузка груза с транспортного средства"
          },
          "unloadAddress": {
            "type": "string",
            "description": "Адрес локации выгрузки груза с транспортного средства"
          },
          "unloadArrival": {
            "type": "string",
            "format": "date-time",
            "description": "Плановое время прибытия ТС в локацию выгрузки."
          },
          "cargo": {
            "type": "array",
            "description": "Список перевозимых грузов ",
            "items": {
              "oneOf": [
                {
                  "$ref": "models/props/link.json"
                },
                {
                  "$ref": "#/components/schemas/cargo-item"
                }
              ]
            }
          }
        },
        "description": "Составной атрибут заявки на перевозку, содержащий информацию о месте обработки перевозки"
      },
      "contractor-data": {
        "title": "Контрагент",
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Сокращенное наименование контрагента, которое будет видно в интерфейсе"
          },
          "fullTitle": {
            "type": "string",
            "description": "Полное наименование контрагента, как оно прописано в правоустанавливающих документах"
          },
          "type": {
            "$ref": "models/abstract/simple-list-item.json",
            "description": "Тип"
          },
          "role": {
            "type": "array",
            "minItems": 1,
            "description": "Роль",
            "items": {
              "$ref": "models/abstract/simple-list-item.json"
            }
          }
        },
        "description": "Данные юр. лица"
      },
      "contractor-item": {
        "title": "Запись \"Контрагент\"",
        "allOf": [
          {
            "$ref": "models/abstract/rich-list-item.json"
          },
          {
            "type": "object",
            "properties": {
              "json-data": {
                "$ref": "#/components/schemas/contractor-data"
              }
            }
          }
        ],
        "description": "Строка таблицы БД",
        "example": {
          "id": "cont-001",
          "name": "ООО 'ТрансЛогистик'",
          "type": "CARRIER",
          "status": "ACTIVE",
          "createdAt": "2023-05-01T09:00:00Z",
          "updatedAt": "2023-05-01T09:00:00Z",
          "contactPerson": {
            "name": "Иванов Иван Иванович",
            "phone": "+7 (999) 123-45-67",
            "email": "ivanov@translogistic.ru"
          },
          "legalAddress": "ул. Транспортная, 10, Москва, Россия",
          "inn": "7712345678",
          "kpp": "771201001"
        }
      },
      "vehicle-item": {
        "title": "Автотранспорт",
        "allOf": [
          {
            "$ref": "models/abstract/rich-list-item.json"
          },
          {
            "type": "object",
            "properties": {
              "json-data": {
                "$ref": "#/components/schemas/vehicle-data"
              }
            }
          }
        ],
        "description": "Строка таблицы БД",
        "example": {
          "id": "veh-001",
          "type": "TRUCK",
          "make": "КАМАЗ",
          "model": "5490",
          "year": 2021,
          "licensePlate": "А123БВ777",
          "vin": "X1F5490NEL0000001",
          "status": "ACTIVE",
          "createdAt": "2023-05-10T11:00:00Z",
          "updatedAt": "2023-05-10T11:00:00Z",
          "capacity": {
            "weight": 20000,
            "volume": 86
          },
          "dimensions": {
            "length": 13.6,
            "width": 2.45,
            "height": 2.7
          },
          "features": [
            "REFRIGERATOR",
            "GPS_TRACKER"
          ]
        }
      },
      "vehicle-data": {
        "title": "vehicle-data",
        "type": "object",
        "required": [
          "plate",
          "haul",
          "type"
        ],
        "properties": {
          "plate": {
            "type": "string",
            "pattern": "^[А-Я]{2}\\d{3,4}[А-Я]{2}(?: [А-Я]{2}\\d{3,4}[А-Я]{2})?$",
            "description": "Номер регистрационного знака транспортного средства. "
          },
          "haul": {
            "description": "Список контрагентов, которые могут использовать ТС",
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "models/props/link.json"
                },
                {
                  "$ref": "#/components/schemas/contractor-item"
                }
              ],
              "type": "object"
            }
          },
          "type": {
            "$ref": "models/abstract/simple-list-item.json",
            "description": "Тип транспортного средства"
          },
          "model": {
            "type": "string",
            "description": "Марка и модель ТС."
          },
          "desc": {
            "type": "string",
            "description": "Описание ТС."
          }
        }
      },
      "driver-item": {
        "title": "Водитель",
        "allOf": [
          {
            "$ref": "models/abstract/rich-list-item.json"
          },
          {
            "type": "object",
            "properties": {
              "json-data": {
                "$ref": "#/components/schemas/driver-data"
              }
            }
          }
        ],
        "description": "Строка таблицы БД",
        "example": {
          "id": "drv-001",
          "firstName": "Александр",
          "lastName": "Петров",
          "middleName": "Иванович",
          "dateOfBirth": "1985-07-15",
          "phoneNumber": "+7 (999) 234-56-78",
          "email": "a.petrov@example.com",
          "licenseNumber": "7712 345678",
          "licenseExpirationDate": "2025-12-31",
          "status": "ACTIVE",
          "createdAt": "2023-05-12T10:30:00Z",
          "updatedAt": "2023-05-12T10:30:00Z",
          "experience": 10,
          "qualifications": [
            "ADR",
            "REFRIGERATOR"
          ],
          "currentVehicleId": "veh-001"
        }
      },
      "driver-data": {
        "title": "driver-data",
        "type": "object",
        "required": [
          "docNum",
          "name",
          "lastName",
          "birthday",
          "docType",
          "haul"
        ],
        "properties": {
          "docNum": {
            "type": "integer",
            "description": "Номер документа, удостоверяющего личность."
          },
          "name": {
            "type": "string",
            "description": "Имя водителя"
          },
          "lastName": {
            "type": "string",
            "description": "Фамилия водителя"
          },
          "patronym": {
            "type": "string",
            "description": "Отчество"
          },
          "birthday": {
            "type": "string",
            "format": "date",
            "description": "Дата рождения водителя"
          },
          "docType": {
            "$ref": "models/abstract/simple-list-item.json",
            "description": "Вид документа, удостоверяющего личность\n| **Значение** | **Описание**                   |\n| ------------ | ------------------------------ |\n| **Паспорт**  | Паспорт гражданина РФ.         |\n| **Права**    | Водительское удостоверение РФ. |"
          },
          "phone": {
            "type": "string",
            "description": "Номер телефона для связи с водителем.",
            "pattern": "^((\\+7)|8)\\d{10}$"
          },
          "haul": {
            "type": "array",
            "description": "Список контрагентов, которые могут использовать водителя.",
            "items": {
              "oneOf": [
                {
                  "$ref": "models/props/link.json"
                },
                {
                  "$ref": "#/components/schemas/contractor-item"
                }
              ],
              "type": "object"
            }
          }
        }
      },
      "location-item": {
        "title": "Локация",
        "description": "Строка таблицы БД",
        "allOf": [
          {
            "$ref": "models/abstract/rich-list-item.json"
          },
          {
            "type": "object",
            "properties": {
              "json-data": {
                "$ref": "#/components/schemas/location-data"
              }
            }
          }
        ],
        "example": {
          "id": "loc-001",
          "name": "Склад 'Восточный'",
          "type": "WAREHOUSE",
          "address": {
            "country": "Россия",
            "postalCode": "107140",
            "city": "Москва",
            "street": "ул. Верхняя Красносельская",
            "building": "3с2"
          },
          "coordinates": {
            "latitude": 55.786389,
            "longitude": 37.662778
          },
          "contactPerson": {
            "name": "Сидоров Петр Алексеевич",
            "phone": "+7 (495) 123-45-67",
            "email": "p.sidorov@example.com"
          },
          "workingHours": {
            "monday": {
              "from": "08:00",
              "to": "20:00"
            },
            "tuesday": {
              "from": "08:00",
              "to": "20:00"
            },
            "wednesday": {
              "from": "08:00",
              "to": "20:00"
            },
            "thursday": {
              "from": "08:00",
              "to": "20:00"
            },
            "friday": {
              "from": "08:00",
              "to": "20:00"
            },
            "saturday": {
              "from": "09:00",
              "to": "18:00"
            },
            "sunday": {
              "from": "09:00",
              "to": "18:00"
            }
          },
          "status": "ACTIVE",
          "createdAt": "2023-05-14T09:00:00Z",
          "updatedAt": "2023-05-14T09:00:00Z"
        }
      },
      "location-data": {
        "title": "Локация",
        "type": "object",
        "required": [
          "title"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "название места обработки"
          },
          "address": {
            "type": "string",
            "description": "Адрес локации"
          },
          "terminals": {
            "type": "array",
            "description": "Список контрагентов с типом «Терминал», которые выполняют обработку перевозки в локации.",
            "items": {
              "oneOf": [
                {
                  "$ref": "models/props/link.json"
                },
                {
                  "$ref": "#/components/schemas/contractor-item"
                }
              ],
              "type": "object"
            }
          },
          "level": {
            "type": "string",
            "description": "Положение локации в иерархии топологии."
          }
        },
        "description": "Используется для создания мест обработки перевозки"
      },
      "cargo-item": {
        "title": "Груз",
        "description": "Объект системы, содержащий информацию о перевозимом грузе.",
        "allOf": [
          {
            "$ref": "models/abstract/rich-list-item.json"
          },
          {
            "type": "object",
            "properties": {
              "json-data": {
                "$ref": "#/components/schemas/cargo-data"
              }
            }
          }
        ],
        "example": {
          "id": "crg-001",
          "name": "Электроника",
          "type": "ELECTRONICS",
          "description": "Партия смартфонов и планшетов",
          "weight": 5000,
          "volume": 10,
          "quantity": 1000,
          "packagingType": "BOXES",
          "dimensions": {
            "length": 1.2,
            "width": 0.8,
            "height": 1.6
          },
          "hazardClass": "NON_HAZARDOUS",
          "temperatureRequirements": {
            "min": 10,
            "max": 30
          },
          "specialHandling": [
            "FRAGILE",
            "KEEP_DRY"
          ],
          "customsInfo": {
            "hsCode": "851712",
            "countryOfOrigin": "CN",
            "declaredValue": {
              "amount": 500000,
              "currency": "RUB"
            }
          },
          "status": "READY_FOR_PICKUP",
          "createdAt": "2023-05-15T14:30:00Z",
          "updatedAt": "2023-05-15T14:30:00Z"
        }
      },
      "cargo-data": {
        "title": "Груз",
        "type": "object",
        "required": [
          "num",
          "desc",
          "amount",
          "weight",
          "package",
          "owner"
        ],
        "properties": {
          "num": {
            "type": "string",
            "description": "Идентификатор грузовой единицы"
          },
          "desc": {
            "type": "string",
            "description": "Текстовое описание груза"
          },
          "amount": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "Количество груза в единицах измерения (штуки)"
          },
          "weight": {
            "type": "integer",
            "minimum": 1,
            "description": "Суммарный вес груза в килограммах вместе с упаковкой (брутто)"
          },
          "volume": {
            "type": "number",
            "format": "float",
            "exclusiveMinimum": 0,
            "description": "Объем груза в метрах кубических. Вещественное число с тремя знаками после запятой."
          },
          "package": {
            "type": "string",
            "description": "Сведения об упаковке груза"
          },
          "owner": {
            "description": "Контрагент, являющийся владельцем перевозимого груза",
            "oneOf": [
              {
                "$ref": "models/props/link.json"
              },
              {
                "$ref": "#/components/schemas/contractor-item"
              }
            ],
            "type": "object"
          }
        },
        "description": "Объект системы, содержащий информацию о перевозимом грузе."
      },
      "catalog-metaitem": {
        "type": "object",
        "allOf": [
          {
            "$ref": "models/abstract/rich-list.json"
          },
          {
            "properties": {
              "json-schema": {
                "$ref": "models/abstract/rich-list-meta.json"
              }
            }
          }
        ],
        "description": "Метаданные справочника",
        "title": "Запись коллекции 'Справочник'",
        "example": {
          "id": "cat-004",
          "name": "Типы дополнительных услуг",
          "description": "Справочник типов дополнительных услуг при перевозке",
          "itemsCount": 0,
          "createdAt": "2023-05-17T09:30:00Z",
          "updatedAt": "2023-05-17T09:30:00Z"
        }
      },
      "catalog-item": {
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/transport-target-item"
          },
          {
            "$ref": "#/components/schemas/contractor-item"
          },
          {
            "$ref": "#/components/schemas/vehicle-item"
          },
          {
            "$ref": "#/components/schemas/driver-item"
          },
          {
            "$ref": "#/components/schemas/location-item"
          },
          {
            "$ref": "#/components/schemas/cargo-item"
          }
        ],
        "description": "Запись элемента справочника",
        "title": "Запись элемента справочника",
        "example": {
          "id": "cat-item-001",
          "name": "Рефрижератор",
          "description": "Транспортное средство с холодильной установкой для перевозки скоропортящихся грузов",
          "code": "REFRIGERATOR",
          "catalogId": "cat-001",
          "status": "ACTIVE",
          "createdAt": "2023-05-16T11:00:00Z",
          "updatedAt": "2023-05-16T11:00:00Z",
          "attributes": {
            "temperatureRange": {
              "min": -20,
              "max": 5
            },
            "fuelConsumption": 25
          }
        }
      }
    },
    "responses": {
      "shipment-rfp-list": {
        "description": "Список заявок на перевозку",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "models/abstract/domain-meta.json"
                },
                {
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/shipment-rfp-item"
                      }
                    }
                  }
                }
              ],
              "type": "object"
            },
            "example": {
              "items": [
                {
                  "id": "123e4567-e89b-12d3-a456-426614174000",
                  "name": "Перевозка груза из Москвы в Санкт-Петербург",
                  "status": "OPEN",
                  "createdAt": "2023-05-15T10:30:00Z",
                  "updatedAt": "2023-05-15T10:30:00Z",
                  "expiresAt": "2023-05-20T23:59:59Z",
                  "origin": {
                    "address": "ул. Ленина, 1, Москва, Россия",
                    "coordinates": {
                      "latitude": 55.7558,
                      "longitude": 37.6173
                    }
                  },
                  "destination": {
                    "address": "Невский проспект, 1, Санкт-Петербург, Россия",
                    "coordinates": {
                      "latitude": 59.9311,
                      "longitude": 30.3609
                    }
                  },
                  "cargo": {
                    "type": "Общие грузы",
                    "weight": 1000,
                    "volume": 5
                  }
                }
              ],
              "meta": {
                "totalItems": 1,
                "itemCount": 1,
                "itemsPerPage": 10,
                "totalPages": 1,
                "currentPage": 1
              }
            }
          }
        }
      },
      "offer-list": {
        "description": "Список предложений к заявке на перевозку",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "models/abstract/domain-meta.json"
                },
                {
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/offer-item"
                      }
                    }
                  }
                }
              ],
              "type": "object"
            },
            "examples": {},
            "example": {
              "items": [
                {
                  "id": "456e7890-f12a-34b5-c678-901234567890",
                  "shipmentRfpId": "123e4567-e89b-12d3-a456-426614174000",
                  "carrierId": "789e0123-g45h-67i8-j901-234567890123",
                  "status": "PENDING",
                  "createdAt": "2023-05-16T14:30:00Z",
                  "updatedAt": "2023-05-16T14:30:00Z",
                  "expiresAt": "2023-05-18T23:59:59Z",
                  "price": {
                    "amount": 48000,
                    "currency": "RUB"
                  },
                  "estimatedPickupTime": "2023-05-21T09:00:00Z",
                  "estimatedDeliveryTime": "2023-05-22T18:00:00Z"
                },
                {
                  "id": "567f8901-g23b-45c6-d789-012345678901",
                  "shipmentRfpId": "123e4567-e89b-12d3-a456-426614174000",
                  "carrierId": "890f1234-h56i-78j9-k012-345678901234",
                  "status": "PENDING",
                  "createdAt": "2023-05-16T15:45:00Z",
                  "updatedAt": "2023-05-16T15:45:00Z",
                  "expiresAt": "2023-05-18T23:59:59Z",
                  "price": {
                    "amount": 52000,
                    "currency": "RUB"
                  },
                  "estimatedPickupTime": "2023-05-21T10:00:00Z",
                  "estimatedDeliveryTime": "2023-05-22T19:00:00Z"
                }
              ],
              "meta": {
                "totalItems": 2,
                "itemCount": 2,
                "itemsPerPage": 10,
                "totalPages": 1,
                "currentPage": 1
              }
            }
          }
        }
      },
      "shipment-rfp-item": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/shipment-rfp-item"
            }
          }
        }
      },
      "offer-item": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/offer-item"
            }
          }
        }
      },
      "catalog-metaitem": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/catalog-metaitem"
            }
          }
        },
        "description": "Объект Справочник"
      },
      "catalog-item": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "$ref": "#/components/schemas/catalog-item"
            }
          }
        },
        "description": "Запись элемента справочника"
      },
      "catalog-list": {
        "description": "Список справочников",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "models/abstract/rich-list.json"
              }
            },
            "example": {
              "items": [
                {
                  "id": "cat-001",
                  "name": "Типы транспортных средств",
                  "description": "Справочник типов транспортных средств",
                  "itemsCount": 10
                },
                {
                  "id": "cat-002",
                  "name": "Типы грузов",
                  "description": "Справочник типов грузов",
                  "itemsCount": 15
                },
                {
                  "id": "cat-003",
                  "name": "Статусы заявок",
                  "description": "Справочник статусов заявок на перевозку",
                  "itemsCount": 5
                }
              ],
              "meta": {
                "totalItems": 3,
                "itemCount": 3,
                "itemsPerPage": 10,
                "totalPages": 1,
                "currentPage": 1
              }
            }
          }
        }
      },
      "catalog-item-list": {
        "description": "Справочник целиком",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/catalog-metaitem"
                },
                {
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/catalog-item"
                      }
                    }
                  }
                }
              ],
              "type": "object"
            }
          }
        }
      }
    },
    "requestBodies": {
      "shipment-rfp-item": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/shipment-rfp-item"
            }
          }
        }
      },
      "offer-item": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/offer-item"
            }
          }
        }
      },
      "catalog-metaitem": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/catalog-metaitem"
            }
          }
        },
        "description": "Атрибуты редактируемого справочника"
      },
      "catalog-item": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/catalog-item"
            }
          }
        },
        "description": "Объект Запись Справочника"
      }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "Идентификатор записи"
      },
      "key": {
        "name": "key",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "hostname"
        },
        "description": "Ключ/код коллекции",
        "style": "label"
      }
    }
  },
  "tags": [
    {
      "name": "portal"
    }
  ]
}