{
  "openapi": "3.1.0",
  "info": {
    "title": "carrier-api",
    "version": "api-1.0",
    "description": "API Портала Перевозчика",
    "contact": {
      "name": "Ivan Donchenko",
      "email": "idonchenko@solvo.ru",
      "url": "solvo.ru"
    },
    "license": {
      "name": "Commercial",
      "identifier": "commercial"
    }
  },
  "servers": [
    {
      "url": "https://stoplight.io/mocks/thehunt/carrier-apidoc/365085546",
      "description": "Stoplight mocker"
    },
    {
      "url": "http://localhost:8080"
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "summary": "OAuth token request",
        "description": "Получение OAuth токена для аутентификации в системе",
        "requestBody": {
          "description": "OAuth token request",
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "enum": [
                      "authorization_code",
                      "refresh_token"
                    ]
                  },
                  "code": {
                    "type": "string",
                    "description": "Authorization code"
                  },
                  "redirect_uri": {
                    "type": "string",
                    "description": "Redirect URI"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Client ID"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Client secret"
                  }
                },
                "required": [
                  "grant_type",
                  "client_id",
                  "client_secret"
                ]
              },
              "example": {
                "grant_type": "authorization_code",
                "code": "4/P7q7W91a-oMsCeLvIaQm6bTrgtp7",
                "redirect_uri": "https://example.com/oauth2callback",
                "client_id": "ваш-client-id",
                "client_secret": "ваш-client-secret"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OAuth token response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "Access token"
                    },
                    "token_type": {
                      "type": "string",
                      "description": "Token type"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "Token expiration time"
                    },
                    "refresh_token": {
                      "type": "string",
                      "description": "Refresh token"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "getOAuthToken",
        "tags": [
          "Аутентификация"
        ]
      }
    },
    "/oauth/revoke": {
      "post": {
        "summary": "OAuth token revocation",
        "description": "Отзыв OAuth токена",
        "requestBody": {
          "description": "OAuth token revocation request",
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Token to revoke"
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token revoked"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "revokeOAuthToken",
        "tags": [
          "Аутентификация"
        ]
      }
    },
    "/oauth/userinfo": {
      "get": {
        "summary": "OAuth userinfo",
        "description": "Получение информации о текущем пользователе",
        "security": [
          {
            "oauth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "Userinfo response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sub": {
                      "type": "string",
                      "description": "User ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "User name"
                    },
                    "email": {
                      "type": "string",
                      "description": "User email"
                    }
                  }
                },
                "example": {
                  "sub": "1234567890",
                  "name": "Иван Петров",
                  "email": "ivan.petrov@example.com"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "getUserInfo",
        "tags": [
          "Аутентификация"
        ]
      }
    },
    "/shipment-rfp": {
      "get": {
        "summary": "Получить список заявок на перевозку",
        "responses": {
          "200": {
            "$ref": "#/components/responses/shipment-rfp-list"
          }
        },
        "description": "Получение списка заявок на перевозку",
        "operationId": "getShipmentRfpList",
        "tags": [
          "Заявки на перевозку"
        ]
      },
      "put": {
        "summary": "Создать новую заявку на перевозку",
        "responses": {
          "201": {
            "description": "Заявка на перевозку создана",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shipment-rfp-item"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/shipment-rfp-item"
              }
            }
          }
        },
        "description": "Создание новой заявки на перевозку",
        "operationId": "createShipmentRfp",
        "tags": [
          "Заявки на перевозку"
        ]
      },
      "parameters": []
    },
    "/shipment-rfp/{id}": {
      "get": {
        "summary": "Получить детали заявки на перевозку",
        "responses": {
          "200": {
            "description": "Детали заявки на перевозку",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shipment-rfp-item"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID заявки на перевозку",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "description": "Получение детальной информации о заявке на перевозку",
        "operationId": "getShipmentRfpDetails",
        "tags": [
          "Заявки на перевозку"
        ]
      },
      "post": {
        "summary": "Обновить заявку на перевозку",
        "responses": {
          "200": {
            "description": "Заявка на перевозку обновлена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shipment-rfp-item"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID заявки на перевозку",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/shipment-rfp-item"
              }
            }
          }
        },
        "description": "Обновление информации о заявке на перевозку",
        "operationId": "updateShipmentRfp",
        "tags": [
          "Заявки на перевозку"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ]
    },
    "/offers": {
      "get": {
        "summary": "Получить список предложений",
        "responses": {
          "200": {
            "$ref": "#/components/responses/offer-list"
          }
        },
        "description": "Получение списка предложений от перевозчиков",
        "operationId": "getOfferList",
        "tags": [
          "Предложения"
        ]
      },
      "put": {
        "summary": "Создать новое предложение",
        "responses": {
          "201": {
            "description": "Предложение создано",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/offer-item"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/offer-item"
              }
            }
          }
        },
        "description": "Создание нового предложения от перевозчика",
        "operationId": "createOffer",
        "tags": [
          "Предложения"
        ]
      },
      "parameters": []
    },
    "/offers/{id}": {
      "get": {
        "summary": "Получить детали предложения",
        "responses": {
          "200": {
            "description": "Детали предложения",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/offer-item"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID предложения",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "description": "Получение детальной информации о предложении",
        "operationId": "getOfferDetails",
        "tags": [
          "Предложения"
        ]
      },
      "post": {
        "summary": "Обновить предложение",
        "responses": {
          "200": {
            "description": "Предложение обновлено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/offer-item"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID предложения",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/offer-item"
              }
            }
          }
        },
        "description": "Обновление информации о предложении",
        "operationId": "updateOffer",
        "tags": [
          "Предложения"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ]
    },
    "/catalogs": {
      "get": {
        "summary": "Получить перечень справочников системы",
        "tags": [
          "Справочники"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/catalog-list"
          }
        },
        "operationId": "getCatalogList",
        "description": "Получение списка справочников системы"
      },
      "put": {
        "summary": "Создать новый справочник",
        "tags": [
          "Справочники"
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/catalog-metaitem"
          }
        },
        "operationId": "createCatalog",
        "requestBody": {
          "$ref": "#/components/requestBodies/catalog-metaitem"
        },
        "description": "Создание нового справочника"
      },
      "post": {
        "summary": "Изменить описание справочника",
        "tags": [
          "Справочники"
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/catalog-metaitem"
          }
        },
        "operationId": "updateCatalog",
        "requestBody": {
          "$ref": "#/components/requestBodies/catalog-metaitem"
        },
        "description": "Обновление информации о справочнике"
      }
    },
    "/catalogs/{key}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/key"
        }
      ],
      "get": {
        "summary": "Получить описание справочника",
        "tags": [
          "Справочники"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/catalog-metaitem"
          }
        },
        "operationId": "getCatalogByKey",
        "description": "Получение информации о конкретном справочнике"
      },
      "post": {
        "summary": "Изменить запись справочника",
        "tags": [
          "Справочники"
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/catalog-item"
          }
        },
        "operationId": "updateCatalogByKey",
        "requestBody": {
          "$ref": "#/components/requestBodies/catalog-item"
        },
        "description": "Обновление информации о конкретном справочнике"
      },
      "put": {
        "summary": "Создать запись справочника",
        "tags": [
          "Справочники"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/catalog-item"
          }
        },
        "operationId": "createCatalogItemByKey",
        "requestBody": {
          "$ref": "#/components/requestBodies/catalog-item"
        },
        "description": "Создание нового элемента в конкретном справочнике"
      }
    },
    "/catalogs/{key}/items/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "get": {
        "summary": "Получить запись справочника",
        "tags": [
          "Справочники"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/catalog-item"
          }
        },
        "operationId": "getCatalogItemById",
        "description": "Получение информации о конкретном элементе справочника"
      }
    },
    "/lists": {
      "get": {
        "summary": "Получить перечень списков",
        "tags": [
          "Списки"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "./models/abstract/simple-list.json"
                  }
                }
              }
            }
          }
        },
        "operationId": "getAllLists",
        "description": "Получение списка всех списков"
      }
    },
    "/lists/{key}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/key"
        }
      ],
      "get": {
        "summary": "Получить информацию о списке",
        "tags": [
          "Списки"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "./models/abstract/simple-list.json"
                }
              }
            }
          }
        },
        "operationId": "getListByKey",
        "description": "Получение информации о конкретном списке"
      }
    },
    "/lists/{key}/items": {
      "parameters": [
        {
          "$ref": "#/components/parameters/key"
        }
      ],
      "get": {
        "summary": "Получить элементы списка",
        "tags": [
          "Списки"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "./models/abstract/simple-list-item.json"
                      }
                    },
                    {
                      "type": "object",
                      "$ref": "./models/abstract/simple-list.json"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getListItemsByKey",
        "description": "Получение элементов конкретного списка"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://example.com/auth/realms/master/protocol/openid-connect/auth",
            "tokenUrl": "https://example.com/auth/realms/master/protocol/openid-connect/token",
            "refreshUrl": "",
            "scopes": {
              "userinfo": "userinfo"
            }
          }
        }
      }
    },
    "schemas": {
      "OAuthTokenRequest": {
        "type": "object",
        "properties": {
          "grant_type": {
            "type": "string",
            "enum": [
              "authorization_code",
              "refresh_token"
            ],
            "examples": [
              "authorization_code",
              "refresh_token",
              "authorization_code",
              "refresh_token",
              "authorization_code",
              "refresh_token"
            ]
          },
          "code": {
            "type": "string",
            "description": "Authorization code",
            "examples": [
              "SplxlOBeZQQYbYS6WxSbIA",
              "SplxlOBeZQQYbYS6WxSbIA",
              "SplxlOBeZQQYbYS6WxSbIA"
            ]
          },
          "redirect_uri": {
            "type": "string",
            "description": "Redirect URI",
            "examples": [
              "https://client.example.com/callback",
              "https://client.example.com/callback",
              "https://client.example.com/callback"
            ]
          },
          "client_id": {
            "type": "string",
            "description": "Client ID",
            "examples": [
              "s6BhdRkqt3",
              "s6BhdRkqt3",
              "s6BhdRkqt3"
            ]
          },
          "client_secret": {
            "type": "string",
            "description": "Client secret",
            "examples": [
              "7Fjfp0ZBr1KtDRbnfVdmIw",
              "7Fjfp0ZBr1KtDRbnfVdmIw",
              "7Fjfp0ZBr1KtDRbnfVdmIw"
            ]
          }
        },
        "required": [
          "grant_type",
          "client_id",
          "client_secret"
        ],
        "additionalProperties": false
      },
      "shipment-rfp-data": {
        "title": "Заявка на перевозку",
        "description": "Объект системы, содержащий информацию о планируемом перемещении груза из одной точки в другую",
        "type": "object",
        "required": [
          "num",
          "customer",
          "validSince",
          "validUntill",
          "targets"
        ],
        "properties": {
          "num": {
            "type": "string",
            "description": "Идентификатор перевозки",
            "examples": [
              "RFP-2023-001",
              "RFP-2023-001",
              "RFP-2023-001"
            ]
          },
          "customer": {
            "description": "Контрагент, являющийся заказчиком перевозки",
            "oneOf": [
              {
                "$ref": "./models/props/link.json"
              },
              {
                "$ref": "#/components/schemas/contractor-item"
              },
              {
                "$ref": "./models/props/link.json"
              }
            ],
            "type": "object",
            "examples": [
              {
                "id": "cust-001",
                "name": "ООО \"ГрузОтправитель\""
              },
              {
                "id": "cust-001",
                "name": "ООО \"ГрузОтправитель\""
              },
              {
                "id": "cust-001",
                "name": "ООО \"ГрузОтправитель\""
              }
            ]
          },
          "expectedVehicle": {
            "type": "array",
            "description": "Один или несколько типов ТС, которое должно выполнять перевозку ",
            "minItems": 1,
            "items": {
              "$ref": "./models/abstract/simple-list-item.json"
            },
            "examples": [
              {
                "id": "vt-001",
                "name": "Рефрижератор"
              },
              {
                "id": "vt-001",
                "name": "Рефрижератор"
              },
              {
                "id": "vt-001",
                "name": "Рефрижератор"
              }
            ]
          },
          "validSince": {
            "type": "string",
            "format": "date-time",
            "description": "Дата начала периода, когда заявка на перевозку актуальна.",
            "examples": [
              "2023-05-16T00:00:00Z",
              "2023-05-16T00:00:00Z",
              "2023-05-16T00:00:00Z"
            ]
          },
          "validUntill": {
            "type": "string",
            "format": "date-time",
            "description": "Дата окончания периода, когда заявка на перевозку актуальна.",
            "examples": [
              "2023-05-20T23:59:59Z",
              "2023-05-20T23:59:59Z",
              "2023-05-20T23:59:59Z"
            ]
          },
          "targets": {
            "type": "array",
            "minItems": 1,
            "description": "Список мест, в которых будет производиться обработка",
            "items": {
              "oneOf": [
                {
                  "$ref": "./models/props/link.json"
                },
                {
                  "$ref": "#/components/schemas/transport-target-item"
                },
                {
                  "$ref": "./models/props/link.json"
                }
              ],
              "type": "object"
            },
            "examples": [
              [
                {
                  "id": "tt-001",
                  "name": "Доставка груза в Санкт-Петербург"
                },
                {
                  "id": "tt-002",
                  "name": "Доставка груза в Москву"
                },
                {
                  "id": "tt-003",
                  "name": "Доставка груза в Екатеринбург"
                }
              ]
            ]
          },
          "attachments": {
            "type": "array",
            "description": "Файлы, загруженные в систему, и прикрепленные к перевозке.",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "examples": [
              [
                {
                  "id": "att-001",
                  "name": "Договор.pdf"
                },
                {
                  "id": "att-002",
                  "name": "Спецификация.xlsx"
                },
                {
                  "id": "att-003",
                  "name": "Инструкция по погрузке.docx"
                }
              ]
            ]
          },
          "source": {
            "$ref": "./models/abstract/simple-list-item.json",
            "description": "Способ создания заявки на перевозку.",
            "examples": [
              {
                "id": "src-001",
                "name": "Веб-интерфейс"
              },
              {
                "id": "src-001",
                "name": "Веб-интерфейс"
              },
              {
                "id": "src-001",
                "name": "Веб-интерфейс"
              }
            ]
          }
        },
        "additionalProperties": false
      },
      "shipment-rfp-item": {
        "title": "Запись \"Заявка на перевозку\"",
        "examples": [
          {
            "id": "string"
          },
          {
            "id": "string"
          },
          {
            "id": "string"
          }
        ],
        "allOf": [
          {
            "$ref": "./models/abstract/domain-item.json"
          },
          {
            "properties": {
              "json-data": {
                "$ref": "#/components/schemas/shipment-rfp-data"
              }
            }
          },
          {
            "$ref": "./models/abstract/domain-item.json"
          }
        ],
        "description": "Строка таблицы БД",
        "example": {
          "id": "497f6eca-6276-4993-bfeb-53cbbbba6f08",
          "createdBy": {
            "ID": "3892eb50-4697-4c72-aadc-32b766bce3c0",
            "Login": "string"
          },
          "createdDate": "2019-08-24T14:15:22Z",
          "lastModifiedBy": {
            "ID": "3892eb50-4697-4c72-aadc-32b766bce3c0",
            "Login": "string"
          },
          "lastModifiedDate": "2019-08-24T14:15:22Z",
          "processInstant": "string",
          "meta": "00bc452f-5ac7-4ce3-9b71-a522f10fc914",
          "originalIdentity": {
            "id": "string",
            "host": "string",
            "route": "string",
            "protocol": "string"
          },
          "json-data": {
            "id": "rfp-001",
            "name": "Перевозка груза из Москвы в Санкт-Петербург",
            "status": "OPEN",
            "createdABy": "2023-05-15T10:30:00Z",
            "updatedAt": "2023-05-15T10:30:00Z",
            "expiresAt": "2023-05-20T23:59:59Z",
            "customer": {
              "id": "cust-001",
              "name": "ООО 'ГрузОтправитель'"
            },
            "vehicleTypes": [
              {
                "id": "vt-001",
                "name": "Рефрижератор"
              },
              {
                "id": "vt-001",
                "name": "Рефрижератор"
              },
              {
                "id": "vt-001",
                "name": "Рефрижератор"
              },
              {
                "id": "vt-001",
                "name": "Рефрижератор"
              },
              {
                "id": "vt-001",
                "name": "Рефрижератор"
              },
              {
                "id": "vt-001",
                "name": "Рефрижератор"
              }
            ],
            "validSince": "2023-05-16T00:00:00Z",
            "validUntil": "2023-05-20T23:59:59Z",
            "transportTargets": [
              {
                "id": "tt-001",
                "name": "Доставка груза в Санкт-Петербург"
              },
              {
                "id": "tt-001",
                "name": "Доставка груза в Санкт-Петербург"
              },
              {
                "id": "tt-001",
                "name": "Доставка груза в Санкт-Петербург"
              },
              {
                "id": "tt-001",
                "name": "Доставка груза в Санкт-Петербург"
              },
              {
                "id": "tt-001",
                "name": "Доставка груза в Санкт-Петербург"
              },
              {
                "id": "tt-001",
                "name": "Доставка груза в Санкт-Петербург"
              }
            ],
            "source": {
              "id": "src-001",
              "name": "Веб-интерфейс"
            }
          }
        },
        "type": "object",
        "additionalProperties": false
      },
      "offer-data": {
        "title": "Предложение к заявке на перевозку",
        "description": "Объект системы, которое хранит информацию по заявлению экспедитора о готовности выполнить перевозку по выбранной заявке на перевозку",
        "type": "object",
        "required": [
          "request",
          "forwarder",
          "carrier",
          "vehicle",
          "driver",
          "phone"
        ],
        "properties": {
          "request": {
            "description": "Идентификатор заявки на перевозку",
            "oneOf": [
              {
                "$ref": "./models/props/link.json"
              },
              {
                "$ref": "#/components/schemas/shipment-rfp-item"
              },
              {
                "$ref": "./models/props/link.json"
              }
            ],
            "type": "object",
            "examples": [
              {
                "id": "rfp-001",
                "name": "Перевозка груза из Москвы в Санкт-Петербург"
              },
              {
                "id": "rfp-001",
                "name": "Перевозка груза из Москвы в Санкт-Петербург"
              },
              {
                "id": "rfp-001",
                "name": "Перевозка груза из Москвы в Санкт-Петербург"
              }
            ]
          },
          "forwarder": {
            "oneOf": [
              {
                "$ref": "./models/props/link.json"
              },
              {
                "$ref": "#/components/schemas/contractor-item"
              },
              {
                "$ref": "./models/props/link.json"
              }
            ],
            "description": "Контрагент, который сделал предложение ",
            "examples": [
              {
                "id": "fwd-001",
                "name": "ООО \"ЛогистикПро\""
              },
              {
                "id": "fwd-001",
                "name": "ООО \"ЛогистикПро\""
              },
              {
                "id": "fwd-001",
                "name": "ООО \"ЛогистикПро\""
              }
            ]
          },
          "carrier": {
            "oneOf": [
              {
                "$ref": "./models/props/link.json"
              },
              {
                "$ref": "#/components/schemas/contractor-item"
              },
              {
                "$ref": "./models/props/link.json"
              }
            ],
            "description": "Контрагент, выполняющий перевозку",
            "examples": [
              {
                "id": "car-001",
                "name": "ООО \"ТрансЛогистик\""
              },
              {
                "id": "car-001",
                "name": "ООО \"ТрансЛогистик\""
              },
              {
                "id": "car-001",
                "name": "ООО \"ТрансЛогистик\""
              }
            ]
          },
          "vehicle": {
            "oneOf": [
              {
                "$ref": "./models/props/link.json"
              },
              {
                "$ref": "#/components/schemas/vehicle-item"
              },
              {
                "$ref": "./models/props/link.json"
              }
            ],
            "description": "Информация о транспортном средстве, на котором будет выполняться перевозка",
            "examples": [
              {
                "id": "veh-001",
                "name": "КАМАЗ 5490"
              },
              {
                "id": "veh-001",
                "name": "КАМАЗ 5490"
              },
              {
                "id": "veh-001",
                "name": "КАМАЗ 5490"
              }
            ]
          },
          "driver": {
            "oneOf": [
              {
                "$ref": "./models/props/link.json"
              },
              {
                "$ref": "#/components/schemas/driver-item"
              },
              {
                "$ref": "./models/props/link.json"
              }
            ],
            "description": "Информация о водителе, который будут выполнять перевозку ",
            "examples": [
              {
                "id": "drv-001",
                "name": "Иванов Иван Иванович"
              },
              {
                "id": "drv-001",
                "name": "Иванов Иван Иванович"
              },
              {
                "id": "drv-001",
                "name": "Иванов Иван Иванович"
              }
            ]
          },
          "phone": {
            "type": "string",
            "description": "Номер телефона для связи с водителем, актуальный на момент перевозки",
            "examples": [
              "+7 (999) 123-45-67",
              "+7 (999) 123-45-67",
              "+7 (999) 123-45-67"
            ]
          },
          "attachment": {
            "type": "array",
            "description": "Файлы, загруженные в систему и прикреплённые к предложению.",
            "items": {
              "type": "string",
              "format": "uri-reference"
            },
            "examples": [
              {
                "id": "att-002",
                "name": "Коммерческое предложение.pdf"
              },
              {
                "id": "att-002",
                "name": "Коммерческое предложение.pdf"
              },
              {
                "id": "att-002",
                "name": "Коммерческое предложение.pdf"
              }
            ]
          }
        },
        "additionalProperties": false
      },
      "offer-item": {
        "title": "Запись \"Предложение к заявке на перевозку\"",
        "allOf": [
          {
            "$ref": "./models/abstract/domain-item.json"
          },
          {
            "properties": {
              "json-data": {
                "$ref": "#/components/schemas/offer-data"
              }
            }
          },
          {
            "$ref": "./models/abstract/domain-item.json"
          }
        ],
        "x-examples": {},
        "description": "Строка таблицы БД",
        "example": {
          "id": "offer-001",
          "status": "PENDING",
          "createdAt": "2023-05-16T14:30:00Z",
          "updatedAt": "2023-05-16T14:30:00Z",
          "expiresAt": "2023-05-18T23:59:59Z",
          "shipmentRfp": {
            "id": "rfp-001",
            "name": "Перевозка груза из Москвы в Санкт-Петербург"
          },
          "forwarder": {
            "id": "fwd-001",
            "name": "ООО 'ЛогистикПро'"
          },
          "carrier": {
            "id": "car-001",
            "name": "ООО 'ТрансЛогистик'"
          },
          "vehicle": {
            "id": "veh-001",
            "name": "КАМАЗ 5490"
          },
          "driver": {
            "id": "drv-001",
            "name": "Иванов Иван Иванович"
          },
          "price": {
            "amount": 48000,
            "currency": "RUB"
          },
          "estimatedPickupTime": "2023-05-21T09:00:00Z",
          "estimatedDeliveryTime": "2023-05-22T18:00:00Z"
        },
        "type": "object",
        "additionalProperties": false
      },
      "transport-target-item": {
        "title": "Цель перевозки",
        "description": "Объект системы, содержащий информацию о месте обработки перевозки",
        "allOf": [
          {
            "$ref": "./models/abstract/rich-list-item.json"
          },
          {
            "type": "object",
            "properties": {
              "json-data": {
                "$ref": "#/components/schemas/transport-target-data"
              }
            }
          },
          {
            "$ref": "./models/abstract/rich-list-item.json"
          }
        ],
        "example": {
          "id": "tt-001",
          "name": "Доставка груза в Санкт-Петербург",
          "status": "ACTIVE",
          "createdAt": "2023-05-15T11:00:00Z",
          "updatedAt": "2023-05-15T11:00:00Z",
          "route": "Москва - Санкт-Петербург",
          "sender": {
            "id": "sender-001",
            "name": "ООО 'ОтправительГруза'"
          },
          "loadLocation": {
            "id": "loc-001",
            "name": "Склад 'Восточный'"
          },
          "loadAddress": "г. Москва, ул. Складская, д. 1",
          "loadArrival": "2023-05-21T08:00:00Z",
          "recipient": {
            "id": "recipient-001",
            "name": "ООО 'ПолучательГруза'"
          },
          "unloadLocation": {
            "id": "loc-002",
            "name": "Распределительный центр 'Северный'"
          },
          "unloadAddress": "г. Санкт-Петербург, пр. Индустриальный, д. 10",
          "unloadArrival": "2023-05-22T16:00:00Z",
          "cargo": {
            "id": "cargo-001",
            "name": "Электроника"
          }
        }
      },
      "transport-target-data": {
        "title": "Цель перевозки",
        "type": "object",
        "description": "Составной атрибут заявки на перевозку, содержащий информацию о месте обработки перевозки",
        "required": [
          "num",
          "route",
          "sender",
          "loadLocation",
          "loadAddress",
          "loadArrival",
          "recipient",
          "unloadLocation",
          "unloadAddress",
          "unloadArrival",
          "cargo"
        ],
        "properties": {
          "num": {
            "type": "string",
            "description": "Идентификатор цели перевозки",
            "examples": [
              "TT-2023-001",
              "TT-2023-001",
              "TT-2023-001"
            ]
          },
          "route": {
            "enum": [
              "Ввоз",
              "Вывоз"
            ],
            "description": "Направление движение груза относительно предприятия, на котором работает организатор перевозки",
            "examples": [
              "Москва - Санкт-Петербург",
              "Москва - Санкт-Петербург",
              "Москва - Санкт-Петербург"
            ]
          },
          "sender": {
            "oneOf": [
              {
                "$ref": "./models/props/link.json"
              },
              {
                "$ref": "#/components/schemas/contractor-item"
              },
              {
                "$ref": "./models/props/link.json"
              }
            ],
            "description": "Название контрагента, который является отправителем груза. ",
            "examples": [
              {
                "id": "sender-001",
                "name": "ООО \"ОтправительГруза\""
              },
              {
                "id": "sender-001",
                "name": "ООО \"ОтправительГруза\""
              },
              {
                "id": "sender-001",
                "name": "ООО \"ОтправительГруза\""
              }
            ]
          },
          "loadLocation": {
            "oneOf": [
              {
                "$ref": "./models/props/link.json"
              },
              {
                "$ref": "#/components/schemas/location-item"
              },
              {
                "$ref": "./models/props/link.json"
              }
            ],
            "description": "Локация, в которой будет производиться погрузка груза на транспортное средство",
            "examples": [
              {
                "id": "loc-001",
                "name": "Склад \"Восточный\""
              },
              {
                "id": "loc-001",
                "name": "Склад \"Восточный\""
              },
              {
                "id": "loc-001",
                "name": "Склад \"Восточный\""
              }
            ]
          },
          "loadAddress": {
            "type": "string",
            "description": "Адрес локации погрузки груза на транспортное средство",
            "examples": [
              "г. Москва, ул. Складская, д. 1",
              "г. Москва, ул. Складская, д. 1",
              "г. Москва, ул. Складская, д. 1"
            ]
          },
          "loadArrival": {
            "type": "string",
            "format": "date-time",
            "description": "Плановое время прибытия ТС в локацию погрузки.",
            "examples": [
              "2023-05-21T08:00:00Z",
              "2023-05-21T08:00:00Z",
              "2023-05-21T08:00:00Z"
            ]
          },
          "recipient": {
            "oneOf": [
              {
                "$ref": "./models/props/link.json"
              },
              {
                "$ref": "#/components/schemas/contractor-item"
              },
              {
                "$ref": "./models/props/link.json"
              }
            ],
            "description": "Название контрагента, который является получателем груза.",
            "examples": [
              {
                "id": "recipient-001",
                "name": "ООО \"ПолучательГруза\""
              },
              {
                "id": "recipient-001",
                "name": "ООО \"ПолучательГруза\""
              },
              {
                "id": "recipient-001",
                "name": "ООО \"ПолучательГруза\""
              }
            ]
          },
          "unloadLocation": {
            "oneOf": [
              {
                "$ref": "./models/props/link.json"
              },
              {
                "$ref": "#/components/schemas/location-item"
              },
              {
                "$ref": "./models/props/link.json"
              }
            ],
            "description": "Локация, в которой будет производиться выгрузка груза с транспортного средства",
            "examples": [
              {
                "id": "loc-002",
                "name": "Распределительный центр \"Северный\""
              },
              {
                "id": "loc-002",
                "name": "Распределительный центр \"Северный\""
              },
              {
                "id": "loc-002",
                "name": "Распределительный центр \"Северный\""
              }
            ]
          },
          "unloadAddress": {
            "type": "string",
            "description": "Адрес локации выгрузки груза с транспортного средства",
            "examples": [
              "г. Санкт-Петербург, пр. Индустриальный, д. 10",
              "г. Санкт-Петербург, пр. Индустриальный, д. 10",
              "г. Санкт-Петербург, пр. Индустриальный, д. 10"
            ]
          },
          "unloadArrival": {
            "type": "string",
            "format": "date-time",
            "description": "Плановое время прибытия ТС в локацию выгрузки.",
            "examples": [
              "2023-05-22T16:00:00Z",
              "2023-05-22T16:00:00Z",
              "2023-05-22T16:00:00Z"
            ]
          },
          "cargo": {
            "type": "array",
            "description": "Список перевозимых грузов ",
            "items": {
              "oneOf": [
                {
                  "$ref": "./models/props/link.json"
                },
                {
                  "$ref": "#/components/schemas/cargo-item"
                },
                {
                  "$ref": "./models/props/link.json"
                }
              ]
            },
            "examples": [
              {
                "id": "cargo-001",
                "name": "Электроника"
              },
              {
                "id": "cargo-001",
                "name": "Электроника"
              },
              {
                "id": "cargo-001",
                "name": "Электроника"
              }
            ]
          }
        },
        "additionalProperties": false
      },
      "contractor-data": {
        "title": "Контрагент",
        "type": "object",
        "description": "Данные юр. лица",
        "required": [
          "title",
          "fullTitle",
          "type"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Сокращенное наименование контрагента, которое будет видно в интерфейсе",
            "examples": [
              "ООО \"ТрансЛогистик\"",
              "ООО \"ТрансЛогистик\"",
              "ООО \"ТрансЛогистик\""
            ]
          },
          "fullTitle": {
            "type": "string",
            "description": "Полное наименование контрагента, как оно прописано в правоустанавливающих документах",
            "examples": [
              "Общество с ограниченной ответственностью \"ТрансЛогистик\"",
              "Общество с ограниченной ответственностью \"ТрансЛогистик\"",
              "Общество с ограниченной ответственностью \"ТрансЛогистик\""
            ]
          },
          "type": {
            "$ref": "./models/abstract/simple-list-item.json",
            "description": "Тип",
            "examples": [
              "CARRIER",
              "CARRIER",
              "CARRIER"
            ]
          },
          "role": {
            "type": "array",
            "minItems": 1,
            "description": "Роль",
            "items": {
              "$ref": "./models/abstract/simple-list-item.json"
            },
            "examples": [
              "CARRIER",
              "CUSTOMER",
              "CARRIER",
              "CUSTOMER",
              "CARRIER",
              "CUSTOMER"
            ]
          }
        },
        "additionalProperties": false
      },
      "contractor-item": {
        "title": "Запись \"Контрагент\"",
        "allOf": [
          {
            "$ref": "./models/abstract/rich-list-item.json"
          },
          {
            "type": "object",
            "properties": {
              "json-data": {
                "$ref": "#/components/schemas/contractor-data"
              }
            }
          },
          {
            "$ref": "./models/abstract/rich-list-item.json"
          }
        ],
        "description": "Строка таблицы БД",
        "example": {
          "id": "cont-001",
          "name": "ООО 'ТрансЛогистик'",
          "type": "CARRIER",
          "status": "ACTIVE",
          "createdAt": "2023-05-01T09:00:00Z",
          "updatedAt": "2023-05-01T09:00:00Z",
          "contactPerson": {
            "name": "Иванов Иван Иванович",
            "phone": "+7 (999) 123-45-67",
            "email": "ivanov@translogistic.ru"
          },
          "legalAddress": "ул. Транспортная, 10, Москва, Россия",
          "inn": "7712345678",
          "kpp": "771201001"
        }
      },
      "vehicle-item": {
        "title": "Автотранспорт",
        "allOf": [
          {
            "$ref": "./models/abstract/rich-list-item.json"
          },
          {
            "type": "object",
            "properties": {
              "json-data": {
                "$ref": "#/components/schemas/vehicle-data"
              }
            }
          },
          {
            "$ref": "./models/abstract/rich-list-item.json"
          }
        ],
        "description": "Строка таблицы БД",
        "example": {
          "id": "veh-001",
          "type": "TRUCK",
          "make": "КАМАЗ",
          "model": "5490",
          "year": 2021,
          "licensePlate": "А123БВ777",
          "vin": "X1F5490NEL0000001",
          "status": "ACTIVE",
          "createdAt": "2023-05-10T11:00:00Z",
          "updatedAt": "2023-05-10T11:00:00Z",
          "capacity": {
            "weight": 20000,
            "volume": 86
          },
          "dimensions": {
            "length": 13.6,
            "width": 2.45,
            "height": 2.7
          },
          "features": [
            "REFRIGERATOR",
            "GPS_TRACKER",
            "REFRIGERATOR"
          ]
        }
      },
      "vehicle-data": {
        "title": "vehicle-data",
        "type": "object",
        "required": [
          "plate",
          "haul",
          "type"
        ],
        "properties": {
          "plate": {
            "type": "string",
            "pattern": "^[А-Я]{2}\\d{3,4}[А-Я]{2}(?: [А-Я]{2}\\d{3,4}[А-Я]{2})?$",
            "description": "Номер регистрационного знака транспортного средства. ",
            "examples": [
              "А123БВ777",
              "А123БВ777",
              "А123БВ777"
            ]
          },
          "haul": {
            "description": "Список контрагентов, которые могут использовать ТС",
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "./models/props/link.json"
                },
                {
                  "$ref": "#/components/schemas/contractor-item"
                },
                {
                  "$ref": "./models/props/link.json"
                }
              ],
              "type": "object"
            },
            "examples": [
              "LONG_HAUL",
              "LONG_HAUL",
              "LONG_HAUL"
            ]
          },
          "type": {
            "$ref": "./models/abstract/simple-list-item.json",
            "description": "Тип транспортного средства",
            "examples": [
              "TRUCK",
              "TRUCK",
              "TRUCK"
            ]
          },
          "./model": {
            "type": "string",
            "description": "Марка и модель ТС.",
            "examples": [
              "КАМАЗ 5490",
              "КАМАЗ 5490",
              "КАМАЗ 5490"
            ]
          },
          "desc": {
            "type": "string",
            "description": "Описание ТС.",
            "examples": [
              "Седельный тягач с рефрижераторным полуприцепом",
              "Седельный тягач с рефрижераторным полуприцепом",
              "Седельный тягач с рефрижераторным полуприцепом"
            ]
          }
        },
        "additionalProperties": false
      },
      "driver-item": {
        "title": "Водитель",
        "allOf": [
          {
            "$ref": "./models/abstract/rich-list-item.json"
          },
          {
            "type": "object",
            "properties": {
              "json-data": {
                "$ref": "#/components/schemas/driver-data"
              }
            }
          },
          {
            "$ref": "./models/abstract/rich-list-item.json"
          }
        ],
        "description": "Строка таблицы БД",
        "example": {
          "id": "drv-001",
          "firstName": "Александр",
          "lastName": "Петров",
          "middleName": "Иванович",
          "dateOfBirth": "1985-07-15",
          "phoneNumber": "+7 (999) 234-56-78",
          "email": "a.petrov@example.com",
          "licenseNumber": "7712 345678",
          "licenseExpirationDate": "2025-12-31",
          "status": "ACTIVE",
          "createdAt": "2023-05-12T10:30:00Z",
          "updatedAt": "2023-05-12T10:30:00Z",
          "experience": 10,
          "qualifications": [
            "ADR",
            "REFRIGERATOR",
            "ADR"
          ],
          "currentVehicleId": "veh-001"
        }
      },
      "driver-data": {
        "title": "driver-data",
        "type": "object",
        "required": [
          "docNum",
          "name",
          "lastName",
          "birthday",
          "docType",
          "haul"
        ],
        "properties": {
          "docNum": {
            "type": "integer",
            "description": "Номер документа, удостоверяющего личность.",
            "examples": [
              "7712 345678",
              "7712 345678",
              "7712 345678"
            ]
          },
          "name": {
            "type": "string",
            "description": "Имя водителя",
            "examples": [
              "Иван",
              "Иван",
              "Иван"
            ]
          },
          "lastName": {
            "type": "string",
            "description": "Фамилия водителя",
            "examples": [
              "Петров",
              "Петров",
              "Петров"
            ]
          },
          "patronym": {
            "type": "string",
            "description": "Отчество",
            "examples": [
              "Александрович",
              "Александрович",
              "Александрович"
            ]
          },
          "birthday": {
            "type": "string",
            "format": "date",
            "description": "Дата рождения водителя",
            "examples": [
              "1985-07-15",
              "1985-07-15",
              "1985-07-15"
            ]
          },
          "docType": {
            "$ref": "./models/abstract/simple-list-item.json",
            "description": "Вид документа, удостоверяющего личность\n| **Значение** | **Описание**                   |\n| ------------ | ------------------------------ |\n| **Паспорт**  | Паспорт гражданина РФ.         |\n| **Права**    | Водительское удостоверение РФ. |",
            "examples": [
              "DRIVER_LICENSE",
              "DRIVER_LICENSE",
              "DRIVER_LICENSE"
            ]
          },
          "phone": {
            "type": "string",
            "description": "Номер телефона для связи с водителем.",
            "pattern": "^((\\+7)|8)\\d{10}$",
            "examples": [
              "+7 (999) 123-45-67",
              "+7 (999) 123-45-67",
              "+7 (999) 123-45-67"
            ]
          },
          "haul": {
            "type": "array",
            "description": "Список контрагентов, которые могут использовать водителя.",
            "items": {
              "oneOf": [
                {
                  "$ref": "./models/props/link.json"
                },
                {
                  "$ref": "#/components/schemas/contractor-item"
                },
                {
                  "$ref": "./models/props/link.json"
                }
              ],
              "type": "object"
            },
            "examples": [
              "LONG_HAUL",
              "LONG_HAUL",
              "LONG_HAUL"
            ]
          }
        },
        "additionalProperties": false
      },
      "location-item": {
        "title": "Локация",
        "description": "Строка таблицы БД",
        "allOf": [
          {
            "$ref": "./models/abstract/rich-list-item.json"
          },
          {
            "type": "object",
            "properties": {
              "json-data": {
                "$ref": "#/components/schemas/location-data"
              }
            }
          },
          {
            "$ref": "./models/abstract/rich-list-item.json"
          }
        ],
        "example": {
          "id": "loc-001",
          "name": "Склад 'Восточный'",
          "type": "WAREHOUSE",
          "address": {
            "country": "Россия",
            "postalCode": "107140",
            "city": "Москва",
            "street": "ул. Верхняя Красносельская",
            "building": "3с2"
          },
          "coordinates": {
            "latitude": 55.786389,
            "longitude": 37.662778
          },
          "contactPerson": {
            "name": "Сидоров Петр Алексеевич",
            "phone": "+7 (495) 123-45-67",
            "email": "p.sidorov@example.com"
          },
          "workingHours": {
            "monday": {
              "from": "08:00",
              "to": "20:00"
            },
            "tuesday": {
              "from": "08:00",
              "to": "20:00"
            },
            "wednesday": {
              "from": "08:00",
              "to": "20:00"
            },
            "thursday": {
              "from": "08:00",
              "to": "20:00"
            },
            "friday": {
              "from": "08:00",
              "to": "20:00"
            },
            "saturday": {
              "from": "09:00",
              "to": "18:00"
            },
            "sunday": {
              "from": "09:00",
              "to": "18:00"
            }
          },
          "status": "ACTIVE",
          "createdAt": "2023-05-14T09:00:00Z",
          "updatedAt": "2023-05-14T09:00:00Z"
        }
      },
      "location-data": {
        "title": "Локация",
        "type": "object",
        "description": "Используется для создания мест обработки перевозки",
        "required": [
          "title",
          "address",
          "terminals"
        ],
        "properties": {
          "title": {
            "type": "string",
            "examples": [
              "Склад 'Восточный'",
              "Склад 'Восточный'",
              "Склад 'Восточный'"
            ]
          },
          "address": {
            "type": "string",
            "examples": [
              "г. Москва, ул. Складская, д. 1",
              "г. Москва, ул. Складская, д. 1",
              "г. Москва, ул. Складская, д. 1"
            ]
          },
          "terminals": {
            "type": "array",
            "items": {
              "": "./models/abstract/simple-list-item.json"
            },
            "examples": [
              [
                {
                  "id": "term-001",
                  "name": "Терминал 1"
                },
                {
                  "id": "term-002",
                  "name": "Терминал 2"
                },
                {
                  "id": "term-003",
                  "name": "Терминал 3"
                }
              ]
            ]
          },
          "level": {
            "type": "string",
            "examples": [
              "WAREHOUSE",
              "WAREHOUSE",
              "WAREHOUSE"
            ]
          }
        },
        "additionalProperties": false
      },
      "cargo-item": {
        "title": "Груз",
        "description": "Объект системы, содержащий информацию о перевозимом грузе.",
        "allOf": [
          {
            "$ref": "./models/abstract/rich-list-item.json"
          },
          {
            "type": "object",
            "properties": {
              "json-data": {
                "$ref": "#/components/schemas/cargo-data"
              }
            }
          },
          {
            "$ref": "./models/abstract/rich-list-item.json"
          }
        ],
        "example": {
          "id": "crg-001",
          "name": "Электроника",
          "type": "ELECTRONICS",
          "description": "Партия смартфонов и планшетов",
          "weight": 5000,
          "volume": 10,
          "quantity": 1000,
          "packagingType": "BOXES",
          "dimensions": {
            "length": 1.2,
            "width": 0.8,
            "height": 1.6
          },
          "hazardClass": "NON_HAZARDOUS",
          "temperatureRequirements": {
            "min": 10,
            "max": 30
          },
          "specialHandling": [
            "FRAGILE",
            "KEEP_DRY",
            "FRAGILE"
          ],
          "customsInfo": {
            "hsCode": "851712",
            "countryOfOrigin": "CN",
            "declaredValue": {
              "amount": 500000,
              "currency": "RUB"
            }
          },
          "status": "READY_FOR_PICKUP",
          "createdAt": "2023-05-15T14:30:00Z",
          "updatedAt": "2023-05-15T14:30:00Z"
        }
      },
      "cargo-data": {
        "title": "Груз",
        "type": "object",
        "required": [
          "num",
          "desc",
          "amount",
          "weight",
          "package",
          "owner"
        ],
        "properties": {
          "num": {
            "type": "string",
            "description": "Идентификатор грузовой единицы",
            "examples": [
              "CARGO-2023-001",
              "CARGO-2023-001",
              "CARGO-2023-001"
            ]
          },
          "desc": {
            "type": "string",
            "description": "Текстовое описание груза",
            "examples": [
              "Электроника (смартфоны, планшеты)",
              "Электроника (смартфоны, планшеты)",
              "Электроника (смартфоны, планшеты)"
            ]
          },
          "amount": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "Количество груза в единицах измерения (штуки)",
            "examples": [
              1000,
              1000,
              1000
            ]
          },
          "weight": {
            "type": "integer",
            "minimum": 1,
            "description": "Суммарный вес груза в килограммах вместе с упаковкой (брутто)",
            "examples": [
              5000,
              5000,
              5000
            ]
          },
          "volume": {
            "type": "number",
            "format": "float",
            "exclusiveMinimum": 0,
            "description": "Объем груза в метрах кубических. Вещественное число с тремя знаками после запятой.",
            "examples": [
              10,
              10,
              10
            ]
          },
          "package": {
            "type": "string",
            "description": "Сведения об упаковке груза",
            "examples": [
              "BOXES",
              "BOXES",
              "BOXES"
            ]
          },
          "owner": {
            "description": "Контрагент, являющийся владельцем перевозимого груза",
            "oneOf": [
              {
                "$ref": "./models/props/link.json"
              },
              {
                "$ref": "#/components/schemas/contractor-item"
              },
              {
                "$ref": "./models/props/link.json"
              }
            ],
            "type": "object",
            "examples": [
              {
                "id": "owner-001",
                "name": "ООО 'ГрузВладелец'"
              },
              {
                "id": "owner-001",
                "name": "ООО 'ГрузВладелец'"
              },
              {
                "id": "owner-001",
                "name": "ООО 'ГрузВладелец'"
              }
            ]
          }
        },
        "description": "Объект системы, содержащий информацию о перевозимом грузе.",
        "additionalProperties": false
      },
      "catalog-metaitem": {
        "type": "object",
        "allOf": [
          {
            "$ref": "./models/abstract/rich-list.json"
          },
          {
            "properties": {
              "json-schema": {
                "$ref": "./models/abstract/rich-list-meta.json"
              }
            }
          },
          {
            "$ref": "./models/abstract/rich-list.json"
          }
        ],
        "description": "Метаданные справочника",
        "title": "Запись коллекции 'Справочник'",
        "example": {
          "id": "cat-001",
          "name": "Типы транспортных средств",
          "description": "Справочник типов транспортных средств",
          "itemsCount": 10,
          "createdAt": "2023-05-01T10:00:00Z",
          "updatedAt": "2023-05-01T10:00:00Z"
        },
        "additionalProperties": false,
        "examples": [
          {
            "id": "cat-004",
            "title": "Типы дополнительных услуг",
            "description": "Справочник типов дополнительных услуг при перевозке",
            "itemsCount": 0,
            "createdAt": "2023-05-17T09:30:00Z",
            "updatedAt": "2023-05-17T09:30:00Z"
          },
          {
            "id": "cat-004",
            "title": "Типы дополнительных услуг",
            "description": "Справочник типов дополнительных услуг при перевозке",
            "itemsCount": 0,
            "createdAt": "2023-05-17T09:30:00Z",
            "updatedAt": "2023-05-17T09:30:00Z"
          },
          {
            "id": "cat-004",
            "title": "Типы дополнительных услуг",
            "description": "Справочник типов дополнительных услуг при перевозке",
            "itemsCount": 0,
            "createdAt": "2023-05-17T09:30:00Z",
            "updatedAt": "2023-05-17T09:30:00Z"
          }
        ]
      },
      "catalog-item": {
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/transport-target-item"
          },
          {
            "$ref": "#/components/schemas/contractor-item"
          },
          {
            "$ref": "#/components/schemas/vehicle-item"
          },
          {
            "$ref": "#/components/schemas/driver-item"
          },
          {
            "$ref": "#/components/schemas/location-item"
          },
          {
            "$ref": "#/components/schemas/cargo-item"
          }
        ],
        "description": "Запись элемента справочника",
        "title": "Запись элемента справочника",
        "example": {
          "id": "cat-item-001",
          "name": "Рефрижератор",
          "description": "Транспортное средство с холодильной установкой для перевозки скоропортящихся грузов",
          "code": "REFRIGERATOR",
          "catalogId": "cat-001",
          "status": "ACTIVE",
          "createdAt": "2023-05-16T11:00:00Z",
          "updatedAt": "2023-05-16T11:00:00Z",
          "attributes": {
            "temperatureRange": {
              "min": -20,
              "max": 5
            },
            "fuelConsumption": 25
          }
        },
        "additionalProperties": false
      },
      "pagination": {
        "type": "object",
        "x-examples": {
          "Example 1": {
            "totalItems": 1,
            "itemCount": 1,
            "itemsPerPage": 10,
            "totalPages": 1,
            "currentPage": 1
          }
        },
        "title": "page-info",
        "required": [
          "totalItems",
          "itemCount",
          "itemsPerPage",
          "totalPages",
          "currentPage"
        ],
        "properties": {
          "totalItems": {
            "type": "integer"
          },
          "itemCount": {
            "type": "integer"
          },
          "itemsPerPage": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          },
          "currentPage": {
            "type": "integer"
          }
        },
        "additionalProperties": false
      }
    },
    "responses": {
      "shipment-rfp-list": {
        "description": "Список заявок на перевозку",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/shipment-rfp-item"
                      }
                    }
                  }
                },
                {
                  "x-stoplight": {
                    "id": "uaee2335r7a3h"
                  },
                  "required": [
                    "page-info"
                  ],
                  "properties": {
                    "page-info": {
                      "$ref": "#/components/schemas/pagination",
                      "x-stoplight": {
                        "id": "47z21vps1zahi"
                      }
                    }
                  }
                },
                {
                  "x-stoplight": {
                    "id": "htprt5vuam6hc"
                  },
                  "required": [
                    "meta"
                  ],
                  "properties": {
                    "meta": {
                      "$ref": "./models/abstract/domain-meta.json",
                      "x-stoplight": {
                        "id": "4j11n19esp7wj"
                      }
                    }
                  }
                }
              ],
              "type": "object"
            },
            "example": {
              "items": [
                {
                  "id": "123e4567-e89b-12d3-a456-426614174000",
                  "name": "Перевозка груза из Москвы в Санкт-Петербург",
                  "status": "OPEN",
                  "createdAt": "2023-05-15T10:30:00Z",
                  "updatedAt": "2023-05-15T10:30:00Z",
                  "expiresAt": "2023-05-20T23:59:59Z",
                  "origin": {
                    "address": "ул. Ленина, 1, Москва, Россия",
                    "coordinates": {
                      "latitude": 55.7558,
                      "longitude": 37.6173
                    }
                  },
                  "destination": {
                    "address": "Невский проспект, 1, Санкт-Петербург, Россия",
                    "coordinates": {
                      "latitude": 59.9311,
                      "longitude": 30.3609
                    }
                  },
                  "cargo": {
                    "type": "Общие грузы",
                    "weight": 1000,
                    "volume": 5
                  }
                }
              ],
              "page-info": {
                "totalItems": 1,
                "itemCount": 1,
                "itemsPerPage": 10,
                "totalPages": 1,
                "currentPage": 1
              }
            }
          }
        }
      },
      "offer-list": {
        "description": "Список предложений к заявке на перевозку",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/offer-item"
                      }
                    }
                  }
                },
                {
                  "x-stoplight": {
                    "id": "udu1xsj9bfkfa"
                  },
                  "required": [
                    "meta"
                  ],
                  "properties": {
                    "meta": {
                      "$ref": "./models/abstract/domain-meta.json",
                      "x-stoplight": {
                        "id": "ifcy9uj15g02v"
                      }
                    }
                  }
                },
                {
                  "x-stoplight": {
                    "id": "ims4wou1t9gd7"
                  },
                  "properties": {
                    "page-info": {
                      "$ref": "#/components/schemas/pagination",
                      "x-stoplight": {
                        "id": "fok2875eu59es"
                      }
                    }
                  }
                }
              ],
              "type": "object"
            },
            "examples": {
              "Example 1": {
                "value": {
                  "items": [
                    {
                      "id": "offer-001",
                      "status": "PENDING",
                      "createdAt": "2023-05-16T14:30:00Z",
                      "updatedAt": "2023-05-16T14:30:00Z",
                      "expiresAt": "2023-05-18T23:59:59Z",
                      "shipmentRfp": {
                        "id": "rfp-001",
                        "name": "Перевозка груза из Москвы в Санкт-Петербург"
                      },
                      "forwarder": {
                        "id": "fwd-001",
                        "name": "ООО 'ЛогистикПро'"
                      },
                      "carrier": {
                        "id": "car-001",
                        "name": "ООО 'ТрансЛогистик'"
                      },
                      "vehicle": {
                        "id": "veh-001",
                        "name": "КАМАЗ 5490"
                      },
                      "driver": {
                        "id": "drv-001",
                        "name": "Иванов Иван Иванович"
                      },
                      "price": {
                        "amount": 48000,
                        "currency": "RUB"
                      },
                      "estimatedPickupTime": "2023-05-21T09:00:00Z",
                      "estimatedDeliveryTime": "2023-05-22T18:00:00Z"
                    }
                  ],
                  "meta": {
                    "json-schema": {},
                    "id": "497f6eca-6276-4993-bfeb-53cbbbba6f08",
                    "createdBy": {
                      "ID": "3892eb50-4697-4c72-aadc-32b766bce3c0",
                      "Login": "string"
                    },
                    "createdDate": "2019-08-24T14:15:22Z",
                    "lastModifiedBy": {
                      "ID": "3892eb50-4697-4c72-aadc-32b766bce3c0",
                      "Login": "string"
                    },
                    "lastModifiedDate": "2019-08-24T14:15:22Z",
                    "since": "2019-08-24T14:15:22Z",
                    "until": "2019-08-24T14:15:22Z",
                    "processDefinition": "string"
                  },
                  "page-info": {
                    "totalItems": 0,
                    "itemCount": 0,
                    "itemsPerPage": 0,
                    "totalPages": 0,
                    "currentPage": 0
                  }
                }
              }
            },
            "example": {
              "items": [
                {
                  "id": "456e7890-f12a-34b5-c678-901234567890",                  
                  "shipmentRfpId": "123e4567-e89b-12d3-a456-426614174000",
                  "carrierId": "789e0123-g45h-67i8-j901-234567890123",
                  "status": "PENDING",
                  "createdAt": "2023-05-16T14:30:00Z",
                  "updatedAt": "2023-05-16T14:30:00Z",
                  "expiresAt": "2023-05-18T23:59:59Z",
                  "price": {
                    "amount": 48000,
                    "currency": "RUB"
                  },
                  "estimatedPickupTime": "2023-05-21T09:00:00Z",
                  "estimatedDeliveryTime": "2023-05-22T18:00:00Z"
                },
                {
                  "id": "567f8901-g23b-45c6-d789-012345678901",
                  "shipmentRfpId": "123e4567-e89b-12d3-a456-426614174000",
                  "carrierId": "890f1234-h56i-78j9-k012-345678901234",
                  "status": "PENDING",
                  "createdAt": "2023-05-16T15:45:00Z",
                  "updatedAt": "2023-05-16T15:45:00Z",
                  "expiresAt": "2023-05-18T23:59:59Z",
                  "price": {
                    "amount": 52000,
                    "currency": "RUB"
                  },
                  "estimatedPickupTime": "2023-05-21T10:00:00Z",
                  "estimatedDeliveryTime": "2023-05-22T19:00:00Z"
                }
              ],
              "meta": {
                    "json-schema": {},
                    "id": "497f6eca-6276-4993-bfeb-53cbbbba6f08",
                    "createdBy": {
                      "ID": "3892eb50-4697-4c72-aadc-32b766bce3c0",
                      "Login": "string"
                    },
                    "createdDate": "2019-08-24T14:15:22Z",
                    "lastModifiedBy": {
                      "ID": "3892eb50-4697-4c72-aadc-32b766bce3c0",
                      "Login": "string"
                    },
                    "lastModifiedDate": "2019-08-24T14:15:22Z",
                    "since": "2019-08-24T14:15:22Z",
                    "until": "2019-08-24T14:15:22Z",
                    "processDefinition": "string"
                  },
              "page-info": {
                "totalItems": 2,
                "itemCount": 2,
                "itemsPerPage": 10,
                "totalPages": 1,
                "currentPage": 1
              }
            }
          }
        }
      },
      "shipment-rfp-item": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/shipment-rfp-item"
            }
          }
        }
      },
      "offer-item": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/offer-item"
            }
          }
        }
      },
      "catalog-metaitem": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/catalog-metaitem"
            }
          }
        },
        "description": "Объект Справочник"
      },
      "catalog-item": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "$ref": "#/components/schemas/catalog-item"
            }
          }
        },
        "description": "Запись элемента справочника"
      },
      "catalog-list": {
        "description": "Список справочников",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "required": [
                    "page-info"
                  ],
                  "properties": {
                    "page-info": {
                      "$ref": "#/components/schemas/pagination",
                      "x-stoplight": {
                        "id": "krs64oxilk2vz"
                      }
                    }
                  }
                },
                {
                  "x-stoplight": {
                    "id": "1b7quhm2gm6cp"
                  },
                  "required": [
                    "catalogs"
                  ],
                  "properties": {
                    "catalogs": {
                      "type": "array",
                      "x-stoplight": {
                        "id": "xkxd3lrad2co6"
                      },
                      "items": {
                        "$ref": "./models/abstract/rich-list.json",
                        "x-stoplight": {
                          "id": "vavdoahrvhwq8"
                        }
                      }
                    }
                  }
                }
              ],
              "type": "object"
            },
            "example": {
              "page-info": {
                "totalItems": 0,
                "itemCount": 0,
                "itemsPerPage": 0,
                "totalPages": 0,
                "currentPage": 0
              },
              "catalogs": [
                {
                  "id": "497f6eca-6276-4993-bfeb-53cbbbba6f08",
                  "createdBy": {
                    "ID": "3892eb50-4697-4c72-aadc-32b766bce3c0",
                    "Login": "string"
                  },
                  "createdDate": "2019-08-24T14:15:22Z",
                  "lastModifiedBy": {
                    "ID": "3892eb50-4697-4c72-aadc-32b766bce3c0",
                    "Login": "string"
                  },
                  "lastModifiedDate": "2019-08-24T14:15:22Z",
                  "title": "string",
                  "key": "string",
                  "processDefinition": "string"
                }
              ]
            },
            "examples": {
              "Example 1": {
                "value": {
                  "page-info": {
                    "totalItems": 0,
                    "itemCount": 0,
                    "itemsPerPage": 0,
                    "totalPages": 0,
                    "currentPage": 0
                  },
                  "catalogs": [
                    {
                      "id": "497f6eca-6276-4993-bfeb-53cbbbba6f08",
                      "createdBy": {
                        "ID": "3892eb50-4697-4c72-aadc-32b766bce3c0",
                        "Login": "string"
                      },
                      "createdDate": "2019-08-24T14:15:22Z",
                      "lastModifiedBy": {
                        "ID": "3892eb50-4697-4c72-aadc-32b766bce3c0",
                        "Login": "string"
                      },
                      "lastModifiedDate": "2019-08-24T14:15:22Z",
                      "title": "string",
                      "key": "string",
                      "processDefinition": "string"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "catalog-item-list": {
        "description": "Справочник целиком",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/catalog-metaitem"
                },
                {
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/catalog-item"
                      }
                    }
                  }
                }
              ],
              "type": "object"
            }
          }
        }
      }
    },
    "requestBodies": {
      "shipment-rfp-item": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/shipment-rfp-item"
            }
          }
        }
      },
      "offer-item": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/offer-item"
            }
          }
        }
      },
      "catalog-metaitem": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/catalog-metaitem"
            }
          }
        },
        "description": "Атрибуты редактируемого справочника"
      },
      "catalog-item": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/catalog-item"
            }
          }
        },
        "description": "Объект Запись Справочника"
      }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "Идентификатор записи"
      },
      "key": {
        "name": "key",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "hostname"
        },
        "description": "Ключ/код коллекции",
        "style": "label"
      }
    }
  },
  "tags": [
    {
      "name": "Аутентификация",
      "description": "Операции, связанные с аутентификацией"
    },
    {
      "name": "Заявки на перевозку",
      "description": "Операции с заявками на перевозку"
    },
    {
      "name": "Предложения",
      "description": "Операции с предложениями перевозчиков"
    },
    {
      "name": "Справочники",
      "description": "Операции со справочниками системы"
    },
    {
      "name": "Списки",
      "description": "Операции со списками"
    }
  ]
}