{
  "openapi": "3.0.0",
  "x-stoplight": {
    "id": "xxuylnzrxq62x"
  },
  "info": {
    "title": "carrier-api",
    "version": "1.0",
    "description": "API Портала Перевозчика"
  },
  "servers": [
    {"url": "https://stoplight.io/mocks/thehunt/carrier-apidoc/365085546",
      "description": "Stoplight mocker"
    },
    {
      "url": "http://localhost:8080"
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "summary": "OAuth token request",
        "description": "Requests an OAuth token",
        "requestBody": {
          "description": "OAuth token request",
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "authorization_code",
                      "refresh_token"
                    ]
                  },
                  "code": {
                    "type": "string",
                    "description": "Authorization code"
                  },
                  "redirect_uri": {
                    "type": "string",
                    "description": "Redirect URI"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Client ID"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Client secret"
                  }
                },
                "required": [
                  "grant_type",
                  "client_id",
                  "client_secret"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OAuth token response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "Access token"
                    },
                    "token_type": {
                      "type": "string",
                      "description": "Token type"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "Token expiration time"
                    },
                    "refresh_token": {
                      "type": "string",
                      "description": "Refresh token"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/oauth/revoke": {
      "post": {
        "summary": "OAuth token revocation",
        "description": "Revokes an OAuth token",
        "requestBody": {
          "description": "OAuth token revocation request",
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Token to revoke"
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token revoked"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/oauth/userinfo": {
      "get": {
        "summary": "OAuth userinfo",
        "description": "Retrieves userinfo for the authenticated user",
        "security": [
          {
            "oauth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "Userinfo response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sub": {
                      "type": "string",
                      "description": "User ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "User name"
                    },
                    "email": {
                      "type": "string",
                      "description": "User email"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/shipment-rfp": {
      "get": {
        "summary": "Получить список заявок на перевозку",
        "responses": {
          "200": {
            "$ref": "#/components/responses/shipment-rfp-list"
          }
        },
        "x-stoplight": {
          "id": "tqg739xajhhay"
        }
      },
      "post": {
        "summary": "Создать новую заявку на перевозку",
        "responses": {
          "201": {
            "description": "Заявка на перевозку создана",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shipment-rfp-item"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/shipment-rfp-item"
              }
            }
          }
        },
        "x-stoplight": {
          "id": "fw6nr3929yihh"
        }
      },
      "parameters": []
    },
    "/shipment-rfp/{id}": {
      "get": {
        "summary": "Получить детали заявки на перевозку",
        "responses": {
          "200": {
            "description": "Детали заявки на перевозку",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shipment-rfp-item"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID заявки на перевозку",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "x-stoplight": {
          "id": "m2sic3aqvfkxj"
        }
      },
      "put": {
        "summary": "Обновить заявку на перевозку",
        "responses": {
          "200": {
            "description": "Заявка на перевозку обновлена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shipment-rfp-item"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID заявки на перевозку",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/shipment-rfp-item"
              }
            }
          }
        },
        "x-stoplight": {
          "id": "1zyqx7m0ulvt7"
        }
      },
      "delete": {
        "summary": "Удалить заявку на перевозку",
        "responses": {
          "204": {
            "description": "Заявка на перевозку удалена"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID заявки на перевозку",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "x-stoplight": {
          "id": "kzux2ii36wpx0"
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ]
    },
    "/offers": {
      "get": {
        "summary": "Получить список предложений",
        "responses": {
          "200": {
            "$ref": "#/components/responses/offer-list"
          }
        },
        "x-stoplight": {
          "id": "0udcekiahq0th"
        }
      },
      "post": {
        "summary": "Создать новое предложение",
        "responses": {
          "201": {
            "description": "Предложение создано",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/offer-item"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/offer-item"
              }
            }
          }
        },
        "x-stoplight": {
          "id": "08bn7pfk96yph"
        }
      },
      "parameters": []
    },
    "/offers/{id}": {
      "get": {
        "summary": "Получить детали предложения",
        "responses": {
          "200": {
            "description": "Детали предложения",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/offer-item"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID предложения",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "x-stoplight": {
          "id": "m3im9k796ilqp"
        }
      },
      "post": {
        "summary": "Обновить предложение",
        "responses": {
          "200": {
            "description": "Предложение обновлено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/offer-item"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID предложения",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/offer-item"
              }
            }
          }
        },
        "x-stoplight": {
          "id": "33eep3ue1k0r1"
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Идентификатор"
        }
      ]
    },
    "/catalogs": {
      "get": {
        "summary": "Получить перечень справочников системы",
        "tags": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/catalog-list"
          }
        },
        "operationId": "get-catalogs",
        "x-stoplight": {
          "id": "yhbnufi046opt"
        },
        "description": ""
      },
      "put": {
        "summary": "Создать новый справочник",
        "tags": [],
        "responses": {},
        "operationId": "post-catalogs",
        "x-stoplight": {
          "id": "0er9wjghvzb88"
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/catalog-dto"
        }
      },
      "post": {
        "summary": "Изменить описание справочника",
        "tags": [],
        "responses": {},
        "operationId": "put-catalogs",
        "x-stoplight": {
          "id": "owz0101ooj5wh"
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/catalog-dto"
        }
      }
    },
    "/catalogs/{key}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "key",
          "in": "path",
          "required": true,
          "description": "Ключ справочника"
        }
      ],
      "get": {
        "summary": "Получить описание справочника",
        "tags": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/catalog-dto"
          }
        },
        "operationId": "get-catalogs-key",
        "x-stoplight": {
          "id": "roexl8e8flhrj"
        }
      },
      "post": {
        "summary": "Изменить запись справочника",
        "tags": [],
        "responses": {},
        "operationId": "post-catalogs-key",
        "x-stoplight": {
          "id": "ty7uvpc30ogue"
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/catalog-item-dto"
        }
      },
      "put": {
        "summary": "Создать запись справочника",
        "tags": [],
        "responses": {},
        "operationId": "put-catalogs-key",
        "x-stoplight": {
          "id": "s2ym9fl60p6ft"
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/catalog-item-dto"
        }
      }
    },
    "/catalogs/{key}/items/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "key",
          "in": "path",
          "required": true,
          "description": "Ключ справочника"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Идентификатор записи"
        }
      ],
      "get": {
        "summary": "Получить запись справочника",
        "tags": [],
        "responses": {},
        "operationId": "get-catalogs-key-items-id",
        "x-stoplight": {
          "id": "69t3mxqin7oxd"
        }
      }
    },
    "/lists": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {},
        "operationId": "get-lists",
        "x-stoplight": {
          "id": "89xmdpidx05pg"
        }
      }
    },
    "/lists/{key}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "key",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {},
        "operationId": "get-lists-key",
        "x-stoplight": {
          "id": "r9ujzr9t9igfy"
        }
      }
    },
    "/lists/{key}/items": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "key",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {},
        "operationId": "get-lists-key-items",
        "x-stoplight": {
          "id": "15erahl7p67k9"
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://example.com/auth/realms/master/protocol/openid-connect/auth",
            "tokenUrl": "https://example.com/auth/realms/master/protocol/openid-connect/token",
            "refreshUrl": "",
            "scopes": {
              "userinfo": "userinfo"
            }
          }
        }
      }
    },
    "schemas": {
      "OAuthTokenRequest": {
        "type": "object",
        "properties": {
          "grant_type": {
            "type": "string",
            "enum": [
              "authorization_code",
              "refresh_token"
            ]
          },
          "code": {
            "type": "string",
            "description": "Authorization code"
          },
          "redirect_uri": {
            "type": "string",
            "description": "Redirect URI"
          },
          "client_id": {
            "type": "string",
            "description": "Client ID"
          },
          "client_secret": {
            "type": "string",
            "description": "Client secret"
          }
        },
        "required": [
          "grant_type",
          "client_id",
          "client_secret"
        ]
      },
      "shipment-rfp-data": {
        "title": "Заявка на перевозку",
        "description": "Объект системы, содержащий информацию о планируемом перемещении груза из одной точки в другую",
        "type": "object",
        "examples": [
          {}
        ],
        "properties": {
          "num": {
            "type": "string",
            "description": "Идентификатор перевозки"
          },
          "customer": {
            "description": "Контрагент, являющийся заказчиком перевозки",
            "oneOf": [
              {
                "$ref": "../props/link.json",
                "x-stoplight": {
                  "id": "8gl5gjzrzg2m6"
                }
              },
              {
                "$ref": "#/components/schemas/contractor-item",
                "x-stoplight": {
                  "id": "9n1s1cpnnp390"
                }
              }
            ],
            "type": "object"
          },
          "expectedVehicle": {
            "type": "array",
            "description": "Один или несколько типов ТС, которое должно выполнять перевозку ",
            "minItems": 1,
            "items": {
              "$ref": "../abstract-models/simple-list-item.json"
            }
          },
          "validSince": {
            "type": "string",
            "format": "date-time",
            "description": "Дата начала периода, когда заявка на перевозку актуальна."
          },
          "validUntill": {
            "type": "string",
            "format": "date-time",
            "description": "Дата окончания периода, когда заявка на перевозку актуальна."
          },
          "targets": {
            "type": "array",
            "minItems": 1,
            "description": "Список мест, в которых будет производиться обработка",
            "items": {
              "oneOf": [
                {
                  "$ref": "../props/link.json",
                  "x-stoplight": {
                    "id": "aya1vh4vy2jkj"
                  }
                },
                {
                  "$ref": "#/components/schemas/transport-target-item",
                  "x-stoplight": {
                    "id": "8ys0qkgc7q6bq"
                  }
                }
              ],
              "type": "object"
            }
          },
          "attachments": {
            "type": "array",
            "description": "Файлы, загруженные в систему, и прикрепленные к перевозке.",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "source": {
            "$ref": "../abstract-models/simple-list-item.json",
            "description": "Способ создания заявки на перевозку."
          }
        },
        "x-examples": {
          "Example 1": {}
        },
        "$ref": ""
      },
      "shipment-rfp-item": {
        "title": "shipment-rfp-item",
        "x-stoplight": {
          "id": "cf6mee4euvnlw"
        },
        "examples": [
          {
            "id": "string"
          }
        ],
        "allOf": [
          {
            "$ref": "../abstract-models/domain-item.json"
          },
          {
            "x-stoplight": {
              "id": "7z9i1v748ktwa"
            },
            "properties": {
              "json-data": {
                "$ref": "#/components/schemas/shipment-rfp-data",
                "x-stoplight": {
                  "id": "cnvsq8xcmdcfw"
                }
              }
            }
          }
        ],
        "type": "object",
        "x-examples": {
          "Example 1": {
            "id": "497f6eca-6276-4993-bfeb-53cbbbba6f08",
            "createdBy": {
              "ID": "3892eb50-4697-4c72-aadc-32b766bce3c0",
              "Login": "string"
            },
            "createdDate": "2019-08-24T14:15:22Z",
            "lastModifiedBy": {
              "ID": "3892eb50-4697-4c72-aadc-32b766bce3c0",
              "Login": "string"
            },
            "lastModifiedDate": "2019-08-24T14:15:22Z",
            "path": [
              {
                "host": "example.com",
                "id": "497f6eca-6276-4993-bfeb-53cbbbba6f08",
                "entity": "item"
              }
            ],
            "processInstant": "string",
            "meta": "00bc452f-5ac7-4ce3-9b71-a522f10fc914",
            "originalIdentity": {
              "id": "string",
              "host": "string",
              "route": "string",
              "protocol": "string"
            },
            "json-data": {}
          }
        }
      },
      "offer-data": {
        "title": "Предложение к заявке на перевозку",
        "x-stoplight": {
          "id": "8a7b72f0aefe2"
        },
        "description": "Объект системы, которое хранит информацию по заявлению экспедитора о готовности выполнить перевозку по выбранной заявке на перевозку",
        "type": "object",
        "required": [
          "request",
          "forwarder",
          "carrier",
          "vehicle",
          "driver",
          "phone"
        ],
        "properties": {
          "request": {
            "description": "Идентификатор заявки на перевозку",
            "oneOf": [
              {
                "$ref": "../props/link.json",
                "x-stoplight": {
                  "id": "c63nthhf8x093"
                }
              },
              {
                "$ref": "#/components/schemas/shipment-rfp-item",
                "x-stoplight": {
                  "id": "00wromy3p058f"
                }
              }
            ],
            "type": "object"
          },
          "forwarder": {
            "oneOf": [
              {
                "$ref": "../props/link.json",
                "x-stoplight": {
                  "id": "8gl5gjzrzg2m6"
                }
              },
              {
                "$ref": "#/components/schemas/contractor-item",
                "x-stoplight": {
                  "id": "9n1s1cpnnp390"
                }
              }
            ],
            "description": "Контрагент, который сделал предложение "
          },
          "carrier": {
            "oneOf": [
              {
                "$ref": "../props/link.json",
                "x-stoplight": {
                  "id": "8gl5gjzrzg2m6"
                }
              },
              {
                "$ref": "#/components/schemas/contractor-item",
                "x-stoplight": {
                  "id": "9n1s1cpnnp390"
                }
              }
            ],
            "description": "Контрагент, выполняющий перевозку"
          },
          "vehicle": {
            "oneOf": [
              {
                "$ref": "../props/link.json",
                "x-stoplight": {
                  "id": "8gl5gjzrzg2m6"
                }
              },
              {
                "$ref": "#/components/schemas/vehicle-item",
                "x-stoplight": {
                  "id": "9n1s1cpnnp390"
                }
              }
            ],
            "description": "Информация о транспортном средстве, на котором будет выполняться перевозка"
          },
          "driver": {
            "oneOf": [
              {
                "$ref": "../props/link.json",
                "x-stoplight": {
                  "id": "8gl5gjzrzg2m6"
                }
              },
              {
                "$ref": "#/components/schemas/driver-item",
                "x-stoplight": {
                  "id": "9n1s1cpnnp390"
                }
              }
            ],
            "description": "Информация о водителе, который будут выполнять перевозку "
          },
          "phone": {
            "type": "string",
            "description": "Номер телефона для связи с водителем, актуальный на момент перевозки"
          },
          "attachment": {
            "type": "array",
            "description": "Файлы, загруженные в систему и прикреплённые к предложению.",
            "items": {
              "type": "string",
              "format": "uri-reference"
            }
          }
        }
      },
      "offer-item": {
        "title": "offer-item",
        "x-stoplight": {
          "id": "2irmnd3n1x17k"
        },
        "allOf": [
          {
            "$ref": "../abstract-models/domain-item.json"
          },
          {
            "x-stoplight": {
              "id": "ice2x424z0v8i"
            },
            "properties": {
              "json-data": {
                "$ref": "#/components/schemas/offer-data",
                "x-stoplight": {
                  "id": "69mcled65urrh"
                }
              }
            }
          }
        ],
        "type": "object"
      },
      "transport-target-item": {
        "title": "Цель перевозки",
        "x-stoplight": {
          "id": "887736ff96bb0"
        },
        "description": "Объект системы, содержащий информацию о месте обработки перевозки",
        "allOf": [
          {
            "$ref": "../abstract-models/rich-list-item.json"
          },
          {
            "type": "object",
            "properties": {
              "json-data": {
                "$ref": "#/components/schemas/transport-target-data",
                "x-stoplight": {
                  "id": "oastvdmgd4zty"
                }
              }
            }
          }
        ]
      },
      "transport-target-data": {
        "title": "transport-target-data",
        "x-stoplight": {
          "id": "sup9l3suzdp3s"
        },
        "type": "object",
        "properties": {
          "num": {
            "type": "string",
            "x-stoplight": {
              "id": "pmp5q0rwpbizn"
            },
            "description": "Идентификатор цели перевозки"
          },
          "route": {
            "enum": [
              "Ввоз",
              "Вывоз"
            ],
            "description": "Направление движение груза относительно предприятия, на котором работает организатор перевозки"
          },
          "sender": {
            "oneOf": [
              {
                "$ref": "../props/link.json",
                "x-stoplight": {
                  "id": "8gl5gjzrzg2m6"
                }
              },
              {
                "$ref": "#/components/schemas/contractor-item",
                "x-stoplight": {
                  "id": "9n1s1cpnnp390"
                }
              }
            ],
            "x-stoplight": {
              "id": "ptvg7rp38gy41"
            },
            "description": "Название контрагента, который является отправителем груза. "
          },
          "loadLocation": {
            "oneOf": [
              {
                "$ref": "../props/link.json",
                "x-stoplight": {
                  "id": "8gl5gjzrzg2m6"
                }
              },
              {
                "$ref": "#/components/schemas/location-item",
                "x-stoplight": {
                  "id": "9n1s1cpnnp390"
                }
              }
            ],
            "x-stoplight": {
              "id": "otp2ig8232ldo"
            },
            "description": "Локация, в которой будет производиться погрузка груза на транспортное средство"
          },
          "loadAddress": {
            "type": "string",
            "x-stoplight": {
              "id": "yb8bos7giv35u"
            },
            "description": "Адрес локации погрузки груза на транспортное средство"
          },
          "loadArrival": {
            "type": "string",
            "x-stoplight": {
              "id": "3objcmjoopkyq"
            },
            "format": "date-time",
            "description": "Плановое время прибытия ТС в локацию погрузки."
          },
          "recipient": {
            "oneOf": [
              {
                "$ref": "../props/link.json",
                "x-stoplight": {
                  "id": "8gl5gjzrzg2m6"
                }
              },
              {
                "$ref": "#/components/schemas/contractor-item",
                "x-stoplight": {
                  "id": "9n1s1cpnnp390"
                }
              }
            ],
            "x-stoplight": {
              "id": "hboe4w6y1zf9m"
            },
            "description": "Название контрагента, который является получателем груза."
          },
          "unloadLocation": {
            "oneOf": [
              {
                "$ref": "../props/link.json",
                "x-stoplight": {
                  "id": "8gl5gjzrzg2m6"
                }
              },
              {
                "$ref": "#/components/schemas/location-item",
                "x-stoplight": {
                  "id": "9n1s1cpnnp390"
                }
              }
            ],
            "x-stoplight": {
              "id": "xex8cpib5onbc"
            },
            "description": "Локация, в которой будет производиться выгрузка груза с транспортного средства"
          },
          "unloadAddress": {
            "type": "string",
            "x-stoplight": {
              "id": "95faow4s1tqma"
            },
            "description": "Адрес локации выгрузки груза с транспортного средства"
          },
          "unloadArrival": {
            "type": "string",
            "x-stoplight": {
              "id": "5m8wg7fhcxqpw"
            },
            "format": "date-time",
            "description": "Плановое время прибытия ТС в локацию выгрузки."
          },
          "cargo": {
            "type": "array",
            "x-stoplight": {
              "id": "jctsws721fc5j"
            },
            "description": "Список перевозимых грузов ",
            "items": {
              "oneOf": [
                {
                  "$ref": "../props/link.json",
                  "x-stoplight": {
                    "id": "8gl5gjzrzg2m6"
                  }
                },
                {
                  "$ref": "#/components/schemas/cargo-item",
                  "x-stoplight": {
                    "id": "9n1s1cpnnp390"
                  }
                }
              ],
              "x-stoplight": {
                "id": "mvlvea4y3lg10"
              }
            }
          }
        }
      },
      "contractor-data": {
        "title": "contractor-data",
        "x-stoplight": {
          "id": "malfkfex9dimp"
        },
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Сокращенное наименование контрагента, которое будет видно в интерфейсе"
          },
          "fullTitle": {
            "type": "string",
            "description": "Полное наименование контрагента, как оно прописано в правоустанавливающих документах"
          },
          "type": {
            "$ref": "../abstract-models/simple-list-item.json",
            "description": "Тип"
          },
          "role": {
            "type": "array",
            "minItems": 1,
            "description": "Роль",
            "items": {
              "$ref": "../abstract-models/simple-list-item.json"
            }
          }
        }
      },
      "contractor-item": {
        "title": "Контрагент",
        "x-stoplight": {
          "id": "220644c36d038"
        },
        "allOf": [
          {
            "$ref": "../abstract-models/rich-list-item.json"
          },
          {
            "type": "object",
            "x-stoplight": {
              "id": "iarezqpd5qjgn"
            },
            "properties": {
              "json-data": {
                "$ref": "#/components/schemas/contractor-data",
                "x-stoplight": {
                  "id": "gz0m5y7yj40mi"
                }
              }
            }
          }
        ]
      },
      "vehicle-item": {
        "title": "Автотранспорт",
        "x-stoplight": {
          "id": "0c2afac8a08f6"
        },
        "allOf": [
          {
            "$ref": "../abstract-models/rich-list-item.json"
          },
          {
            "type": "object",
            "properties": {
              "json-data": {
                "$ref": "#/components/schemas/vehicle-data",
                "x-stoplight": {
                  "id": "y5ppb17cxiekc"
                }
              }
            }
          }
        ]
      },
      "vehicle-data": {
        "title": "vehicle-data",
        "x-stoplight": {
          "id": "5g0kiorjyutx2"
        },
        "type": "object",
        "required": [
          "plate",
          "haul",
          "type"
        ],
        "properties": {
          "plate": {
            "type": "string",
            "x-stoplight": {
              "id": "o4rngfu7ila9r"
            },
            "pattern": "^[А-Я]{2}\\d{3,4}[А-Я]{2}(?: [А-Я]{2}\\d{3,4}[А-Я]{2})?$",
            "description": "Номер регистрационного знака транспортного средства. "
          },
          "haul": {
            "x-stoplight": {
              "id": "9q247xvoh2np9"
            },
            "description": "Список контрагентов, которые могут использовать ТС",
            "type": "array",
            "items": {
              "x-stoplight": {
                "id": "zzg3abq4qdl18"
              },
              "oneOf": [
                {
                  "$ref": "../props/link.json",
                  "x-stoplight": {
                    "id": "kymt1t3y4muax"
                  }
                },
                {
                  "$ref": "#/components/schemas/contractor-item",
                  "x-stoplight": {
                    "id": "8ue77kv7l0x1v"
                  }
                }
              ],
              "type": "object"
            }
          },
          "type": {
            "$ref": "../abstract-models/simple-list-item.json",
            "x-stoplight": {
              "id": "z9dot6efy9eib"
            },
            "description": "Тип транспортного средства"
          },
          "model": {
            "type": "string",
            "x-stoplight": {
              "id": "s8xs5wex8wirq"
            },
            "description": "Марка и модель ТС."
          },
          "desc": {
            "type": "string",
            "x-stoplight": {
              "id": "6yw7np2d5fkco"
            },
            "description": "Описание ТС."
          }
        }
      },
      "driver-item": {
        "title": "Водитель",
        "x-stoplight": {
          "id": "b1f7f2393c497"
        },
        "allOf": [
          {
            "$ref": "../abstract-models/rich-list-item.json"
          },
          {
            "type": "object",
            "properties": {
              "json-data": {
                "$ref": "#/components/schemas/driver-data",
                "x-stoplight": {
                  "id": "y610tk7ggmivq"
                }
              }
            }
          }
        ]
      },
      "driver-data": {
        "title": "driver-data",
        "x-stoplight": {
          "id": "98x5ub2n4rynt"
        },
        "type": "object",
        "required": [
          "docNum",
          "name",
          "lastName",
          "birthday",
          "docType",
          "haul"
        ],
        "properties": {
          "docNum": {
            "type": "integer",
            "x-stoplight": {
              "id": "h5umja2tjie2l"
            },
            "description": "Номер документа, удостоверяющего личность."
          },
          "name": {
            "type": "string",
            "x-stoplight": {
              "id": "x3yk5hexohror"
            },
            "description": "Имя водителя"
          },
          "lastName": {
            "type": "string",
            "x-stoplight": {
              "id": "l2cjzmq4o97p2"
            },
            "description": "Фамилия водителя"
          },
          "patronym": {
            "type": "string",
            "x-stoplight": {
              "id": "vgmbeth7wokgn"
            },
            "description": "Отчество"
          },
          "birthday": {
            "type": "string",
            "x-stoplight": {
              "id": "1howtj3dab9hd"
            },
            "format": "date",
            "description": "Дата рождения водителя"
          },
          "docType": {
            "$ref": "../abstract-models/simple-list-item.json",
            "x-stoplight": {
              "id": "nes53j1f341xu"
            },
            "description": "Вид документа, удостоверяющего личность\n| **Значение** | **Описание**                   |\n| ------------ | ------------------------------ |\n| **Паспорт**  | Паспорт гражданина РФ.         |\n| **Права**    | Водительское удостоверение РФ. |"
          },
          "phone": {
            "type": "string",
            "x-stoplight": {
              "id": "40k94faz1ocbv"
            },
            "description": "Номер телефона для связи с водителем.",
            "pattern": "^((\\+7)|8)\\d{10}$"
          },
          "haul": {
            "type": "array",
            "x-stoplight": {
              "id": "ah8dblnlo964g"
            },
            "description": "Список контрагентов, которые могут использовать водителя.",
            "items": {
              "x-stoplight": {
                "id": "zzg3aba4qdl18"
              },
              "oneOf": [
                {
                  "$ref": "../props/link.json",
                  "x-stoplight": {
                    "id": "kymt1t3y4muax"
                  }
                },
                {
                  "$ref": "#/components/schemas/contractor-item",
                  "x-stoplight": {
                    "id": "8ue77kv7l0x1v"
                  }
                }
              ],
              "type": "object"
            }
          }
        }
      },
      "location-item": {
        "title": "Локация",
        "x-stoplight": {
          "id": "d4f4bcc61a3cc"
        },
        "description": "Используется для создания мест обработки перевозки",
        "allOf": [
          {
            "$ref": "../abstract-models/rich-list-item.json"
          },
          {
            "type": "object",
            "properties": {
              "json-data": {
                "$ref": "#/components/schemas/location-data",
                "x-stoplight": {
                  "id": "fhzw3g764bofe"
                }
              }
            }
          }
        ]
      },
      "location-data": {
        "title": "location-data",
        "x-stoplight": {
          "id": "pnyzq4bdpgvyf"
        },
        "type": "object",
        "required": [
          "title"
        ],
        "properties": {
          "title": {
            "type": "string",
            "x-stoplight": {
              "id": "b5akbo9poh4jm"
            },
            "description": "название места обработки"
          },
          "address": {
            "type": "string",
            "x-stoplight": {
              "id": "bboyiahao6usm"
            },
            "description": "Адрес локации"
          },
          "terminals": {
            "x-stoplight": {
              "id": "hxymaq32jts0i"
            },
            "type": "array",
            "description": "Список контрагентов с типом «Терминал», которые выполняют обработку перевозки в локации.",
            "items": {
              "x-stoplight": {
                "id": "zzg3abq4qdl18"
              },
              "oneOf": [
                {
                  "$ref": "../props/link.json",
                  "x-stoplight": {
                    "id": "kymt1t3y4muax"
                  }
                },
                {
                  "$ref": "#/components/schemas/contractor-item",
                  "x-stoplight": {
                    "id": "8ue77kv7l0x1v"
                  }
                }
              ],
              "type": "object"
            }
          },
          "level": {
            "type": "string",
            "x-stoplight": {
              "id": "jlvh0rktlndk3"
            },
            "description": "Положение локации в иерархии топологии."
          }
        }
      },
      "cargo-item": {
        "title": "Груз",
        "x-stoplight": {
          "id": "8c8f5b2f95f8a"
        },
        "description": "Объект системы, содержащий информацию о перевозимом грузе.",
        "allOf": [
          {
            "$ref": "../abstract-models/rich-list-item.json"
          },
          {
            "type": "object",
            "x-stoplight": {
              "id": "vhjnqls060x3i"
            },
            "properties": {
              "json-data": {
                "$ref": "#/components/schemas/cargo-data",
                "x-stoplight": {
                  "id": "ygmwq0hopow70"
                }
              }
            }
          }
        ]
      },
      "cargo-data": {
        "title": "cargo-data",
        "x-stoplight": {
          "id": "mp5hi1iubepxl"
        },
        "type": "object",
        "required": [
          "num",
          "desc",
          "amount",
          "weight",
          "package",
          "owner"
        ],
        "properties": {
          "num": {
            "type": "string",
            "x-stoplight": {
              "id": "6b6ku7pnzfq45"
            },
            "description": "Идентификатор грузовой единицы"
          },
          "desc": {
            "type": "string",
            "x-stoplight": {
              "id": "2q4j7ko09cxv0"
            },
            "description": "Текстовое описание груза"
          },
          "amount": {
            "type": "integer",
            "x-stoplight": {
              "id": "2qb28d374yvtb"
            },
            "minimum": 1,
            "default": 1,
            "description": "Количество груза в единицах измерения (штуки)"
          },
          "weight": {
            "type": "integer",
            "x-stoplight": {
              "id": "ddshc3nrs45yf"
            },
            "minimum": 1,
            "description": "Суммарный вес груза в килограммах вместе с упаковкой (брутто)"
          },
          "volume": {
            "type": "number",
            "x-stoplight": {
              "id": "cu523f6jit5xp"
            },
            "format": "float",
            "exclusiveMinimum": 0,
            "description": "Объем груза в метрах кубических. Вещественное число с тремя знаками после запятой."
          },
          "package": {
            "type": "string",
            "x-stoplight": {
              "id": "klgk8x8u9k3r5"
            },
            "description": "Сведения об упаковке груза"
          },
          "owner": {
            "x-stoplight": {
              "id": "g0zfzrfllyute"
            },
            "description": "Контрагент, являющийся владельцем перевозимого груза",
            "oneOf": [
              {
                "$ref": "../props/link.json",
                "x-stoplight": {
                  "id": "lpv4xambqxqyr"
                }
              },
              {
                "$ref": "#/components/schemas/contractor-item",
                "x-stoplight": {
                  "id": "xlfvhc071r6q7"
                }
              }
            ],
            "type": "object"
          }
        }
      }
    },
    "responses": {
      "shipment-rfp-list": {
        "description": "Список заявок на перевозку",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/shipment-rfp-item"
                  }
                },
                {
                  "type": "object",
                  "$ref": "../abstract-models/domain-meta.json",
                  "x-stoplight": {
                    "id": "rzvz9v84wd8zf"
                  }
                }
              ]
            }
          }
        }
      },
      "offer-list": {
        "description": "Список предложений к заявке на перевозку",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/offer-item"
                  }
                },
                {
                  "type": "object",
                  "$ref": "../abstract-models/domain-meta.json",
                  "x-stoplight": {
                    "id": "7sv1o5xfofl95"
                  }
                }
              ]
            }
          }
        }
      },
      "shipment-rfp-dto": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/shipment-rfp-item"
            }
          }
        }
      },
      "offer-dto": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/offer-item"
            }
          }
        }
      },
      "catalog-dto": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "allOf": [
                {
                  "$ref": "../abstract-models/rich-list.json",
                  "x-stoplight": {
                    "id": "58z35liywfpkp"
                  }
                },
                {
                  "x-stoplight": {
                    "id": "la5l9w5cojwkj"
                  },
                  "properties": {
                    "json-schema": {
                      "$ref": "../abstract-models/rich-list-meta.json",
                      "x-stoplight": {
                        "id": "mdi1m3e9nc628"
                      }
                    }
                  }
                }
              ]
            }
          }
        },
        "description": "Объект Справочник"
      },
      "catalog-item-dto": {
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/transport-target-item",
                  "x-stoplight": {
                    "id": "wpb2x6heg7tvi"
                  }
                },
                {
                  "$ref": "#/components/schemas/contractor-item",
                  "x-stoplight": {
                    "id": "janacbptqye9y"
                  }
                },
                {
                  "$ref": "#/components/schemas/vehicle-item",
                  "x-stoplight": {
                    "id": "e1kbi3yvgdub5"
                  }
                },
                {
                  "$ref": "#/components/schemas/driver-item",
                  "x-stoplight": {
                    "id": "25wfrm21ah8hv"
                  }
                },
                {
                  "$ref": "#/components/schemas/location-item",
                  "x-stoplight": {
                    "id": "8tp4hk2s7lu39"
                  }
                },
                {
                  "$ref": "#/components/schemas/cargo-item",
                  "x-stoplight": {
                    "id": "3r4fdu9kukjsh"
                  }
                }
              ],
              "type": "object"
            }
          }
        },
        "description": "Объект Запись Справочника"
      },
      "catalog-list": {
        "description": "Список справочников",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "../abstract-models/rich-list.json"
              }
            }
          }
        }
      },
      "catalog-item-list": {
        "description": "Полный справочник",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "x-stoplight": {
                    "id": "f9v665ma0vnq2"
                  }
                }
              ],
              "type": "object"
            }
          }
        }
      }
    },
    "requestBodies": {
      "shipment-rfp-dto": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/shipment-rfp-item"
            }
          }
        }
      },
      "offer-dto": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/offer-item"
            }
          }
        }
      },
      "catalog-dto": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "allOf": [
                {
                  "$ref": "../abstract-models/rich-list.json",
                  "x-stoplight": {
                    "id": "58z35liywfpkp"
                  }
                },
                {
                  "x-stoplight": {
                    "id": "la5l9w5cojwkj"
                  },
                  "properties": {
                    "json-schema": {
                      "$ref": "../abstract-models/rich-list-meta.json",
                      "x-stoplight": {
                        "id": "mdi1m3e9nc628"
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "catalog-item-dto": {
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/transport-target-item",
                  "x-stoplight": {
                    "id": "wpb2x6heg7tvi"
                  }
                },
                {
                  "$ref": "#/components/schemas/contractor-item",
                  "x-stoplight": {
                    "id": "janacbptqye9y"
                  }
                },
                {
                  "$ref": "#/components/schemas/vehicle-item",
                  "x-stoplight": {
                    "id": "e1kbi3yvgdub5"
                  }
                },
                {
                  "$ref": "#/components/schemas/driver-item",
                  "x-stoplight": {
                    "id": "25wfrm21ah8hv"
                  }
                },
                {
                  "$ref": "#/components/schemas/location-item",
                  "x-stoplight": {
                    "id": "8tp4hk2s7lu39"
                  }
                },
                {
                  "$ref": "#/components/schemas/cargo-item",
                  "x-stoplight": {
                    "id": "3r4fdu9kukjsh"
                  }
                }
              ],
              "type": "object"
            }
          }
        },
        "description": "Объект Запись Справочника"
      }
    }
  },
  "tags": [
    {
      "name": "portal"
    }
  ]
}